<div class="div">
  <div class="div-2">
    <div class="div-3">
      <div class="column">
        <img
          loading="lazy"
          srcset="..."
          class="img"
        />
      </div>
      <div class="column-2">
        <div class="div-4">
          <div class="div-5">DuoPods D3</div>
          <div class="div-6">Wireless Earbuds</div>
          <div class="div-7">Elegantly Crafted. Exceptionally Unique.</div>
          <div class="div-8">
            The DuoPods are made of Matt-finish casing with a surprise of rich
            dual-tone inside. The buds are sleek in design with a groovy texture
            on the stem, tailored for the most comfortable fit.
          </div>
          <div class="div-9">
            <div class="div-10">
              <div class="column-3">
                <div class="div-11">
                  <div class="div-12">SELECT COLOR</div>
                  <img
                    loading="lazy"
                    src="https://cdn.builder.io/api/v1/image/assets/TEMP/c53200346a50d121cd8f20af057a0c83c8839f0fc434868d263b4f0d26cb3e0e?"
                    class="img-2"
                  />
                  <div class="div-13">
                    <div class="div-14">₹2,500</div>
                    <div class="div-15">₹5,700</div>
                  </div>
                  <div class="div-16">
                    <span
                      style="
                        font-family: Gilroy, -apple-system, Roboto, Helvetica,
                          sans-serif;
                        font-weight: 400;
                        color: rgba(75, 73, 85, 1);
                      "
                    >
                      Get for
                    </span>
                    <span
                      style="
                        font-family: Gilroy, -apple-system, Roboto, Helvetica,
                          sans-serif;
                        font-weight: 600;
                        color: rgba(75, 73, 85, 1);
                      "
                    ></span>
                    <span
                      style="
                        font-family: Gilroy, -apple-system, Roboto, Helvetica,
                          sans-serif;
                        font-weight: 700;
                        color: rgba(75, 73, 85, 1);
                      "
                    >
                      ₹2,100.
                    </span>
                    <span
                      style="
                        font-family: Gilroy, -apple-system, Roboto, Helvetica,
                          sans-serif;
                        font-weight: 400;
                        color: rgba(75, 73, 85, 1);
                      "
                    >
                      Use code
                    </span>
                    <span
                      style="
                        font-family: Gilroy, -apple-system, Roboto, Helvetica,
                          sans-serif;
                        font-weight: 600;
                        color: rgba(75, 73, 85, 1);
                      "
                    ></span>
                    <span
                      style="
                        font-family: Gilroy, -apple-system, Roboto, Helvetica,
                          sans-serif;
                        font-weight: 700;
                        color: rgba(150, 44, 37, 1);
                      "
                    >
                      MIVISALE
                    </span>
                  </div>
                </div>
              </div>
              <div class="column-4">
                <div class="div-17">
                  <div class="div-18">
                    <div class="div-19">43 Reviews</div>
                    <img
                      loading="lazy"
                      src="https://cdn.builder.io/api/v1/image/assets/TEMP/dfcbe051f4415b2b210e2c632ff573b7aaec9801ef289506c67d85fd7aeca2e2?"
                      class="img-3"
                    />
                  </div>
                  <div class="div-20">ADD TO CART</div>
                </div>
              </div>
            </div>
          </div>
          <div class="div-21">
            <div class="div-22">
              <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/2ea29c589a6ea20607888bf17479bcd35ad93869599c1a27edde853f225c33dd?"
                class="img-4"
              />
              <div class="div-23">
                Free
                <br />
                Shipping
              </div>
            </div>
            <div class="div-24">
              <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/7062e1dba5544fd5bf2ab87daa52236e5918fac2be14553833e14c4667451867?"
                class="img-5"
              />
              <div class="div-25">
                1 year
                <br />
                Warranty
              </div>
            </div>
            <div class="div-26">
              <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/3d523b9cf82ceeeb1fe3084ff81cbaf631d3ac3ddbc5b7b88cac9f7ab712e795?"
                class="img-6"
              />
              <div class="div-27">
                Made
                <br />
                in India
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="div-28">
    <div class="div-29">
      <div class="column-5">
        <div class="div-30">
          <img
            loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/b0e510ed8bcf41eab3ac18d4d5a9dd343c8fa357538cc59a91f91e8d2291a993?"
            class="img-7"
          />
          <div class="div-31">
            Bass is so good,
            <br />
            I can’t stop dancing.
          </div>
          <div class="div-32"></div>
          <div class="div-33">Saharsh</div>
        </div>
      </div>
      <div class="column-6">
        <div class="div-34">
          <img
            loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/b0e510ed8bcf41eab3ac18d4d5a9dd343c8fa357538cc59a91f91e8d2291a993?"
            class="img-8"
          />
          <div class="div-35">
            Powerfull speaker.
            <br />
            Amazing quality
          </div>
          <div class="div-36"></div>
          <div class="div-37">Rohan</div>
        </div>
      </div>
      <div class="column-7">
        <div class="div-38">
          <img
            loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/b0e510ed8bcf41eab3ac18d4d5a9dd343c8fa357538cc59a91f91e8d2291a993?"
            class="img-9"
          />
          <div class="div-39">
            Bass is so good,
            <br />
            I can’t stop dancing.
          </div>
          <div class="div-40"></div>
          <div class="div-41">Kritika</div>
        </div>
      </div>
    </div>
  </div>
  <div class="div-42">
    <div class="div-43">
      <div class="column-8">
        <div class="div-44">
          <img
            loading="lazy"
            srcset="..."
            class="img-10"
          />
          <div class="div-45">Low Latency</div>
          <div class="div-46">Gaming Mode</div>
        </div>
      </div>
      <div class="column-9">
        <div class="div-47">
          <img
            loading="lazy"
            srcset="..."
            class="img-11"
          />
          <div class="div-48">50 Hrs</div>
          <div class="div-49">of Combined Playtime</div>
        </div>
      </div>
      <div class="column-10">
        <div class="div-50">
          <div class="div-51">
            <img
              loading="lazy"
              srcset="..."
              class="img-12"
            />
            <div class="div-52">Powered by</div>
            <div class="div-53">AI ENC</div>
          </div>
          <div class="div-54">
            <img
              loading="lazy"
              srcset="..."
              class="img-13"
            />
            <div class="div-55">Made in</div>
            <div class="div-56">INDIA</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="div-57">
    <div class="div-58">
      <div class="column-11">
        <div class="div-59">
          <img
            loading="lazy"
            srcset="..."
            class="img-14"
          />
          <div class="div-60">IPX4</div>
          <div class="div-61">Water Resistant</div>
        </div>
      </div>
      <div class="column-12">
        <div class="div-62">
          <img
            loading="lazy"
            srcset="..."
            class="img-15"
          />
          <div class="div-63">Swift Charge</div>
          <div class="div-64">Technology</div>
        </div>
      </div>
      <div class="column-13">
        <div class="div-65">
          <img
            loading="lazy"
            srcset="..."
            class="img-16"
          />
          <div class="div-66">13mm Drivers</div>
          <div class="div-67">Electroplated</div>
        </div>
      </div>
      <div class="column-14">
        <div class="div-68">
          <img
            loading="lazy"
            srcset="..."
            class="img-17"
          />
          <div class="div-69">Vibrant Shades &</div>
          <div class="div-70">Cool Design</div>
        </div>
      </div>
    </div>
  </div>
  <div class="div-71">
    <div class="div-72">
      <img
        loading="lazy"
        srcset="..."
        class="img-18"
      />
      <div class="div-73">
        <div class="div-74">
          <div class="column-15">
            <img
              loading="lazy"
              srcset="..."
              class="img-19"
            />
          </div>
          <div class="column-16">
            <div class="div-75">
              <div class="div-76">
                <span
                  style="
                    font-family: Gilroy, -apple-system, Roboto, Helvetica,
                      sans-serif;
                    font-weight: 700;
                  "
                >
                  Crafted with Perfection
                  <br />
                </span>
                <span
                  style="
                    font-family: Gilroy, -apple-system, Roboto, Helvetica,
                      sans-serif;
                    font-weight: 400;
                  "
                >
                  by Mivi Design Studios
                </span>
              </div>
              <div class="div-77">
                The DuoPods feature the scintillating 'Starry Night Effect'
                <br />
                on the case with an eye-catching shimmery effect down to the
                last detail. The makes the pods look premium and offers the most
                comfortable fit when plugged in.
              </div>
            </div>
          </div>
        </div>
      </div>
      <img
        loading="lazy"
        srcset="..."
        class="img-20"
      />
    </div>
    <div class="div-78">
      <img
        loading="lazy"
        srcset="..."
        class="img-21"
      />
      <div class="div-79">
        Exceptional Call Clarity
        <br />
        for Engaging Conversations
      </div>
      <div class="div-80">
        The HDCalls Technology powered by AI-ENC reduces environmental noise
        effectively thus providing superior call clarity.
      </div>
      <img
        loading="lazy"
        srcset="..."
        class="img-22"
      />
    </div>
    <div class="div-81">
      Enjoy the Pulse
      <br />
      of Music With Every Beat
    </div>
    <div class="div-82">
      Powered by 13mm powerful drivers for clear highs, great mid, and crisp
      lows.
    </div>
    <div class="div-83">
      <img
        loading="lazy"
        srcset="..."
        class="img-23"
      />
      <div class="div-84">
        <img
          loading="lazy"
          srcset="..."
          class="img-24"
        />
        <div class="div-85">
          MM
          <br />
          DRIVERS
        </div>
      </div>
    </div>
    <div class="div-86">
      <img
        loading="lazy"
        srcset="..."
        class="img-25"
      />
      <div class="div-87">
        <div class="div-88">
          <div class="column-17">
            <div class="div-89">
              <div class="div-90">
                The Perfect Playtime for
                <br />
                Your Never-ending Playlist
              </div>
              <div class="div-91">
                <span
                  style="
                    font-family: Gilroy, -apple-system, Roboto, Helvetica,
                      sans-serif;
                    font-weight: 700;
                  "
                >
                  50 Hrs
                </span>
                <span
                  style="
                    font-family: Gilroy, -apple-system, Roboto, Helvetica,
                      sans-serif;
                    font-weight: 500;
                  "
                ></span>
                <span
                  style="
                    font-family: Gilroy, -apple-system, Roboto, Helvetica,
                      sans-serif;
                    font-weight: 400;
                  "
                >
                  of combined playtime
                </span>
              </div>
              <div class="div-92">
                <span
                  style="
                    font-family: Gilroy, -apple-system, Roboto, Helvetica,
                      sans-serif;
                    font-weight: 700;
                  "
                >
                  8.5 Hrs
                </span>
                <span
                  style="
                    font-family: Gilroy, -apple-system, Roboto, Helvetica,
                      sans-serif;
                    font-weight: 400;
                  "
                >
                  of playtime with buds on
                </span>
              </div>
              <div class="div-93">
                <span
                  style="
                    font-family: Gilroy, -apple-system, Roboto, Helvetica,
                      sans-serif;
                    font-weight: 700;
                  "
                >
                  Swift Charge
                </span>
                <span
                  style="
                    font-family: Gilroy, -apple-system, Roboto, Helvetica,
                      sans-serif;
                    font-weight: 400;
                  "
                >
                  Technology for fast charging
                </span>
              </div>
            </div>
          </div>
          <div class="column-18">
            <img
              loading="lazy"
              srcset="..."
              class="img-26"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="div-94">
      <img
        loading="lazy"
        srcset="..."
        class="img-27"
      />
      <div class="div-95">
        Step Into the Realm of
        <br />
        Intense Multiplayer Gaming
      </div>
      <div class="div-96">
        <div class="div-97">
          With ultra-low latency for lag-free gaming and clear in-game
          conversations.
        </div>
        <div class="div-98">
          <img
            loading="lazy"
            srcset="..."
            class="img-28"
          />
          ULTRA LOW LATENCY
        </div>
      </div>
    </div>
    <div class="div-100">
      <img
        loading="lazy"
        srcset="..."
        class="img-29"
      />
      <div class="div-101">
        Remain Intensively
        <br />
        Charged for Workouts
      </div>
      <div class="div-102">
        With IPX 4.0 Sweat-resistant DuoPods that won't break a sweat on you
        during your workout.
      </div>
      <div class="div-103">IPX4.0</div>
      <div class="div-104">
        <img
          loading="lazy"
          srcset="..."
          class="img-30"
        />
        <div class="div-105"></div>
      </div>
    </div>
    <div class="div-106">
      <img
        loading="lazy"
        srcset="..."
        class="img-31"
      />
      <div class="div-107">
        <div class="div-108">
          <div class="column-19">
            <img
              loading="lazy"
              srcset="..."
              class="img-32"
            />
          </div>
          <div class="column-20">
            <div class="div-109">
              <div class="div-110">
                Truly Indian
                <br />
                by Heart and Soul
              </div>
              <div class="div-111">
                Own the Indian-made and say with pride,
                <br />
                &quot;Mivi Apna Hai.&quot;
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .div {
    background-color: #fff;
    display: flex;
    padding-top: 44px;
    flex-direction: column;
  }
  .div-2 {
    align-self: center;
    width: 100%;
    max-width: 1185px;
  }
  @media (max-width: 991px) {
    .div-2 {
      max-width: 100%;
    }
  }
  .div-3 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-3 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 58%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column {
      width: 100%;
    }
  }
  .img {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 100%;
    overflow: hidden;
  }
  @media (max-width: 991px) {
    .img {
      max-width: 100%;
      margin-top: 36px;
    }
  }
  .column-2 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 42%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-2 {
      width: 100%;
    }
  }
  .div-4 {
    display: flex;
    flex-direction: column;
    margin: auto 0;
    padding: 0 20px;
  }
  @media (max-width: 991px) {
    .div-4 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-5 {
    color: #000;
    text-transform: capitalize;
    font: 800 54px/100% Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-5 {
      max-width: 100%;
      font-size: 40px;
    }
  }
  .div-6 {
    color: #26285a;
    margin-top: 13px;
    font: 500 20px Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-6 {
      max-width: 100%;
    }
  }
  .div-7 {
    color: #000;
    text-transform: capitalize;
    margin-top: 64px;
    font: 700 30px/36px Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-7 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-8 {
    color: #626870;
    margin-top: 19px;
    font: 500 18px/24px Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-8 {
      max-width: 100%;
    }
  }
  .div-9 {
    margin-top: 43px;
  }
  @media (max-width: 991px) {
    .div-9 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-10 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-10 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column-3 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 51%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column-3 {
      width: 100%;
    }
  }
  .div-11 {
    display: flex;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-11 {
      margin-top: 28px;
    }
  }
  .div-12 {
    color: #4b4955;
    letter-spacing: 3.6px;
    text-transform: uppercase;
    align-self: stretch;
    font: 700 12px/100% Gilroy, sans-serif;
  }
  .img-2 {
    aspect-ratio: 6;
    object-fit: contain;
    object-position: center;
    width: 192px;
    overflow: hidden;
    align-self: start;
    margin-top: 16px;
    max-width: 100%;
  }
  .div-13 {
    align-self: stretch;
    display: flex;
    margin-top: 56px;
    justify-content: space-between;
    gap: 15px;
  }
  @media (max-width: 991px) {
    .div-13 {
      margin-top: 40px;
    }
  }
  .div-14 {
    color: #4b4955;
    text-transform: uppercase;
    font: 800 28px/100% Gilroy, sans-serif;
  }
  .div-15 {
    color: #4b4955;
    text-decoration-line: strikethrough;
    text-transform: uppercase;
    align-self: start;
    margin-top: 6px;
    flex-grow: 1;
    white-space: nowrap;
    font: 600 20px/100% Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-15 {
      white-space: initial;
    }
  }
  .div-16 {
    color: #962c25;
    letter-spacing: 1.4px;
    text-decoration-line: underline;
    align-self: stretch;
    margin-top: 12px;
    white-space: nowrap;
    font: 600 14px/150% Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-16 {
      white-space: initial;
    }
  }
  .column-4 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 49%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-4 {
      width: 100%;
    }
  }
  .div-17 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-17 {
      margin-top: 29px;
    }
  }
  .div-18 {
    display: flex;
    padding-left: 47px;
    flex-direction: column;
    align-items: end;
  }
  @media (max-width: 991px) {
    .div-18 {
      padding-left: 20px;
    }
  }
  .div-19 {
    color: #4b4955;
    text-align: right;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    white-space: nowrap;
    font: 700 14px/100% Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-19 {
      white-space: initial;
    }
  }
  .img-3 {
    aspect-ratio: 5.5;
    object-fit: contain;
    object-position: center;
    width: 176px;
    overflow: hidden;
    align-self: center;
    margin-top: 12px;
  }
  .div-20 {
    color: #4b4955;
    text-align: center;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    white-space: nowrap;
    background-color: #0f0;
    margin-top: 52px;
    justify-content: center;
    padding: 25px 51px;
    font: 800 14px/100% Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-20 {
      white-space: initial;
      margin-top: 40px;
      padding: 0 20px;
    }
  }
  .div-21 {
    display: flex;
    margin-top: 22px;
    width: 100%;
    padding-right: 7px;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .div-21 {
      max-width: 100%;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  .div-22 {
    display: flex;
    align-items: start;
    gap: 12px;
    margin: auto 0;
  }
  .img-4 {
    aspect-ratio: 1.49;
    object-fit: contain;
    object-position: center;
    width: 58px;
    overflow: hidden;
    max-width: 100%;
  }
  .div-23 {
    color: #4b4955;
    text-transform: capitalize;
    align-self: end;
    margin-top: 24px;
    font: 600 16px/19px Gilroy, sans-serif;
  }
  .div-24 {
    align-self: start;
    display: flex;
    align-items: start;
    gap: 15px;
  }
  .img-5 {
    aspect-ratio: 0.81;
    object-fit: contain;
    object-position: center;
    width: 39px;
    overflow: hidden;
    max-width: 100%;
  }
  .div-25 {
    color: #4b4955;
    text-transform: capitalize;
    align-self: end;
    margin-top: 28px;
    font: 600 16px/19px Gilroy, sans-serif;
  }
  .div-26 {
    align-self: start;
    display: flex;
    margin-top: 4px;
    gap: 20px;
  }
  .img-6 {
    aspect-ratio: 0.77;
    object-fit: contain;
    object-position: center;
    width: 50px;
    overflow: hidden;
    max-width: 100%;
  }
  .div-27 {
    color: #4b4955;
    text-transform: capitalize;
    align-self: center;
    margin: auto 0;
    font: 600 16px/19px Gilroy, sans-serif;
  }
  .div-28 {
    align-self: center;
    margin-top: 59px;
    width: 100%;
    max-width: 1180px;
    padding: 0 20px;
  }
  @media (max-width: 991px) {
    .div-28 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-29 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-29 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column-5 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column-5 {
      width: 100%;
    }
  }
  .div-30 {
    background-color: #f6f7f9;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
    padding: 45px 55px;
  }
  @media (max-width: 991px) {
    .div-30 {
      margin-top: 20px;
      padding: 0 20px;
    }
  }
  .img-7 {
    aspect-ratio: 1.22;
    object-fit: contain;
    object-position: center;
    width: 49px;
    fill: #0f0;
    overflow: hidden;
    align-self: center;
    max-width: 100%;
  }
  .div-31 {
    color: #172032;
    text-align: center;
    text-transform: capitalize;
    align-self: stretch;
    margin-top: 49px;
    font: 600 28px/36px Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-31 {
      margin-top: 40px;
    }
  }
  .div-32 {
    background-color: #e8e9eb;
    align-self: center;
    display: flex;
    margin-top: 34px;
    width: 4px;
    height: 30px;
    flex-direction: column;
  }
  .div-33 {
    color: #172032;
    text-align: center;
    text-transform: capitalize;
    align-self: center;
    margin-top: 31px;
    white-space: nowrap;
    font: 500 20px/120% Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-33 {
      white-space: initial;
    }
  }
  .column-6 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-6 {
      width: 100%;
    }
  }
  .div-34 {
    background-color: #f6f7f9;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
    padding: 45px 74px;
  }
  @media (max-width: 991px) {
    .div-34 {
      margin-top: 20px;
      padding: 0 20px;
    }
  }
  .img-8 {
    aspect-ratio: 1.22;
    object-fit: contain;
    object-position: center;
    width: 49px;
    fill: #0f0;
    overflow: hidden;
    align-self: center;
    max-width: 100%;
  }
  .div-35 {
    color: #172032;
    text-align: center;
    text-transform: capitalize;
    align-self: stretch;
    margin-top: 49px;
    font: 600 28px/36px Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-35 {
      margin-top: 40px;
    }
  }
  .div-36 {
    background-color: #e8e9eb;
    align-self: center;
    display: flex;
    margin-top: 34px;
    width: 4px;
    height: 30px;
    flex-direction: column;
  }
  .div-37 {
    color: #172032;
    text-align: center;
    text-transform: capitalize;
    align-self: center;
    margin-top: 31px;
    white-space: nowrap;
    font: 500 20px/120% Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-37 {
      white-space: initial;
    }
  }
  .column-7 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-7 {
      width: 100%;
    }
  }
  .div-38 {
    background-color: #f6f7f9;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
    padding: 45px 55px;
  }
  @media (max-width: 991px) {
    .div-38 {
      margin-top: 20px;
      padding: 0 20px;
    }
  }
  .img-9 {
    aspect-ratio: 1.22;
    object-fit: contain;
    object-position: center;
    width: 49px;
    fill: #0f0;
    overflow: hidden;
    align-self: center;
    max-width: 100%;
  }
  .div-39 {
    color: #172032;
    text-align: center;
    text-transform: capitalize;
    align-self: stretch;
    margin-top: 49px;
    font: 600 28px/36px Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-39 {
      margin-top: 40px;
    }
  }
  .div-40 {
    background-color: #e8e9eb;
    align-self: center;
    display: flex;
    margin-top: 34px;
    width: 4px;
    height: 30px;
    flex-direction: column;
  }
  .div-41 {
    color: #172032;
    text-align: center;
    text-transform: capitalize;
    align-self: center;
    margin-top: 31px;
    white-space: nowrap;
    font: 500 20px/120% Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-41 {
      white-space: initial;
    }
  }
  .div-42 {
    align-self: center;
    margin-top: 106px;
    width: 928px;
    max-width: 100%;
    padding: 0 20px;
  }
  @media (max-width: 991px) {
    .div-42 {
      margin-top: 40px;
    }
  }
  .div-43 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-43 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column-8 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 41%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column-8 {
      width: 100%;
    }
  }
  .div-44 {
    disply: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    display: flex;
    aspect-ratio: 1.5333333333333334;
    flex-grow: 1;
    align-items: start;
    padding: 50px 80px 50px 24px;
  }
  @media (max-width: 991px) {
    .div-44 {
      margin-top: 14px;
      padding: 0 20px;
    }
  }
  .img-10 {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .div-45 {
    position: relative;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    margin-top: 46px;
    white-space: nowrap;
    font: 700 32px/140% Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-45 {
      margin-top: 40px;
      white-space: initial;
    }
  }
  .div-46 {
    position: relative;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    white-space: nowrap;
    margin: 7px 0 36px;
    font: 400 24px/140% Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-46 {
      white-space: initial;
    }
  }
  .column-9 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 36%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-9 {
      width: 100%;
    }
  }
  .div-47 {
    disply: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    display: flex;
    aspect-ratio: 1.3445378151260505;
    flex-grow: 1;
    align-items: end;
    padding: 17px 12px 50px 80px;
  }
  @media (max-width: 991px) {
    .div-47 {
      margin-top: 16px;
      padding-left: 20px;
    }
  }
  .img-11 {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .div-48 {
    position: relative;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    margin-right: 43px;
    white-space: nowrap;
    font: 700 32px/140% Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-48 {
      margin-right: 10px;
      white-space: initial;
    }
  }
  .div-49 {
    position: relative;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    white-space: nowrap;
    margin: 10px 0 88px;
    font: 400 17px/140% Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-49 {
      margin-bottom: 40px;
      white-space: initial;
    }
  }
  .column-10 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 23%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-10 {
      width: 100%;
    }
  }
  .div-50 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
  }
  @media (max-width: 991px) {
    .div-50 {
      margin-top: 15px;
    }
  }
  .div-51 {
    disply: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    display: flex;
    aspect-ratio: 1.8189655172413792;
    width: 211px;
    align-items: end;
    padding: 50px 31px 30px 80px;
  }
  @media (max-width: 991px) {
    .div-51 {
      padding: 0 20px;
    }
  }
  .img-12 {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .div-52 {
    position: relative;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    white-space: nowrap;
    font: 400 12px/140% Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-52 {
      white-space: initial;
    }
  }
  .div-53 {
    position: relative;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    margin-top: 5px;
    white-space: nowrap;
    font: 700 25px/140% Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-53 {
      white-space: initial;
    }
  }
  .div-54 {
    disply: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    display: flex;
    aspect-ratio: 1.8347826086956522;
    margin-top: 8px;
    width: 211px;
    align-items: start;
    padding: 39px 80px 39px 15px;
  }
  @media (max-width: 991px) {
    .div-54 {
      padding-right: 20px;
    }
  }
  .img-13 {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .div-55 {
    position: relative;
    color: #fff;
    text-transform: capitalize;
    white-space: nowrap;
    font: 400 13px/140% Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-55 {
      white-space: initial;
    }
  }
  .div-56 {
    position: relative;
    color: #fff;
    text-transform: capitalize;
    margin-top: 8px;
    white-space: nowrap;
    font: 700 28px/140% Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-56 {
      white-space: initial;
    }
  }
  .div-57 {
    align-self: center;
    margin-top: 14px;
    width: 930px;
    max-width: 100%;
    padding: 0 20px;
  }
  .div-58 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-58 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column-11 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 16%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column-11 {
      width: 100%;
    }
  }
  .div-59 {
    disply: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    display: flex;
    aspect-ratio: 0.6995073891625616;
    flex-grow: 1;
    padding: 19px 18px 50px;
  }
  @media (max-width: 991px) {
    .div-59 {
      margin-top: 14px;
    }
  }
  .img-14 {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .div-60 {
    position: relative;
    color: #000;
    text-align: center;
    text-transform: capitalize;
    font: 700 36px/140% Gilroy, sans-serif;
  }
  .div-61 {
    position: relative;
    color: #000;
    text-align: center;
    text-transform: capitalize;
    white-space: nowrap;
    margin: 7px 0 63px;
    font: 400 15px/140% Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-61 {
      margin-bottom: 40px;
      white-space: initial;
    }
  }
  .column-12 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 16%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-12 {
      width: 100%;
    }
  }
  .div-62 {
    disply: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    display: flex;
    aspect-ratio: 0.7093596059113301;
    flex-grow: 1;
    padding: 19px 21px 50px 13px;
  }
  @media (max-width: 991px) {
    .div-62 {
      margin-top: 14px;
      padding-right: 20px;
    }
  }
  .img-15 {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .div-63 {
    position: relative;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    white-space: nowrap;
    font: 700 18px/140% Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-63 {
      white-space: initial;
    }
  }
  .div-64 {
    position: relative;
    color: #fff;
    text-transform: capitalize;
    white-space: nowrap;
    margin: 4px 0 68px;
    font: 400 16px/140% Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-64 {
      margin-bottom: 40px;
      white-space: initial;
    }
  }
  .column-13 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 15%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-13 {
      width: 100%;
    }
  }
  .div-65 {
    disply: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    display: flex;
    aspect-ratio: 0.6568627450980392;
    flex-grow: 1;
    padding: 20px 12px 50px;
  }
  @media (max-width: 991px) {
    .div-65 {
      margin-top: 13px;
    }
  }
  .img-16 {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .div-66 {
    position: relative;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    white-space: nowrap;
    font: 700 18px/140% Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-66 {
      white-space: initial;
    }
  }
  .div-67 {
    position: relative;
    color: #fff;
    text-transform: capitalize;
    white-space: nowrap;
    margin: 8px 0 68px;
    font: 400 16px/140% Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-67 {
      margin-bottom: 40px;
      white-space: initial;
    }
  }
  .column-14 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 53%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-14 {
      width: 100%;
    }
  }
  .div-68 {
    disply: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    display: flex;
    min-height: 204px;
    flex-grow: 1;
    align-items: start;
    padding: 50px 80px 50px 23px;
  }
  @media (max-width: 991px) {
    .div-68 {
      max-width: 100%;
      margin-top: 13px;
      padding: 0 20px;
    }
  }
  .img-17 {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .div-69 {
    position: relative;
    color: #000;
    text-transform: capitalize;
    margin-top: 22px;
    white-space: nowrap;
    font: 400 19px/140% Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-69 {
      white-space: initial;
    }
  }
  .div-70 {
    position: relative;
    color: #000;
    text-align: center;
    text-transform: capitalize;
    white-space: nowrap;
    margin: 12px 0 26px;
    font: 700 32px/140% Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-70 {
      white-space: initial;
    }
  }
  .div-71 {
    background-color: #000;
    align-self: stretch;
    display: flex;
    margin-top: 91px;
    width: 100%;
    flex-direction: column;
    padding: 0 20px;
  }
  @media (max-width: 991px) {
    .div-71 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-72 {
    disply: flex;
    flex-direction: column;
    overflow: hidden;
    align-self: stretch;
    position: relative;
    display: flex;
    min-height: 915px;
    width: 100%;
    padding-top: 15px;
  }
  @media (max-width: 991px) {
    .div-72 {
      max-width: 100%;
    }
  }
  .img-18 {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .div-73 {
    position: relative;
    z-index: 1;
    width: 100%;
  }
  @media (max-width: 991px) {
    .div-73 {
      max-width: 100%;
    }
  }
  .div-74 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-74 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column-15 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 53%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column-15 {
      width: 100%;
    }
  }
  .img-19 {
    aspect-ratio: 0.97;
    object-fit: contain;
    object-position: center;
    width: 100%;
    overflow: hidden;
    flex-grow: 1;
  }
  @media (max-width: 991px) {
    .img-19 {
      max-width: 100%;
      margin-top: 6px;
    }
  }
  .column-16 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 47%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-16 {
      width: 100%;
    }
  }
  .div-75 {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto 0;
  }
  @media (max-width: 991px) {
    .div-75 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-76 {
    color: #000;
    text-transform: capitalize;
    font: 700 40px/48px Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-76 {
      max-width: 100%;
    }
  }
  .div-77 {
    color: #000;
    text-transform: capitalize;
    margin-top: 32px;
    font: 400 20px/28px Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-77 {
      max-width: 100%;
    }
  }
  .img-20 {
    aspect-ratio: 5.37;
    object-fit: contain;
    object-position: center;
    width: 100%;
    overflow: hidden;
    z-index: 1;
  }
  @media (max-width: 991px) {
    .img-20 {
      max-width: 100%;
    }
  }
  .div-78 {
    disply: flex;
    flex-direction: column;
    overflow: hidden;
    align-self: stretch;
    position: relative;
    display: flex;
    min-height: 936px;
    margin-top: 14px;
    width: 100%;
    align-items: start;
    padding: 50px 80px 50px 62px;
  }
  @media (max-width: 991px) {
    .div-78 {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .img-21 {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .div-79 {
    position: relative;
    color: #e6e6e6;
    text-transform: capitalize;
    max-width: 519px;
    margin: 119px 0 0 69px;
    font: 700 40px/48px Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-79 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-80 {
    position: relative;
    color: #e6e6e6;
    text-transform: capitalize;
    max-width: 537px;
    margin: 33px 0 0 77px;
    font: 400 20px/28px Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-80 {
      max-width: 100%;
    }
  }
  .img-22 {
    aspect-ratio: 1.71;
    object-fit: contain;
    object-position: center;
    width: 614px;
    overflow: hidden;
    max-width: 100%;
    margin: 33px 0 94px;
  }
  @media (max-width: 991px) {
    .img-22 {
      margin-bottom: 40px;
    }
  }
  .div-81 {
    color: #e6e6e6;
    text-align: center;
    text-transform: capitalize;
    align-self: center;
    margin-top: 90px;
    max-width: 651px;
    font: 700 40px/48px Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-81 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-82 {
    color: #e6e6e6;
    text-transform: capitalize;
    align-self: center;
    margin-top: 25px;
    max-width: 707px;
    font: 400 20px/28px Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-82 {
      max-width: 100%;
    }
  }
  .div-83 {
    disply: flex;
    flex-direction: column;
    overflow: hidden;
    align-self: stretch;
    position: relative;
    display: flex;
    min-height: 818px;
    margin-top: 127px;
    width: 100%;
    align-items: center;
    padding: 0 60px 50px;
  }
  @media (max-width: 991px) {
    .div-83 {
      max-width: 100%;
      margin-top: 40px;
      padding: 0 20px;
    }
  }
  .img-23 {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .div-84 {
    position: relative;
    z-index: 1;
    display: flex;
    width: 386px;
    max-width: 100%;
    gap: 0px;
    margin: -127px 0 428px;
  }
  @media (max-width: 991px) {
    .div-84 {
      margin-bottom: 40px;
    }
  }
  .img-24 {
    aspect-ratio: 0.96;
    object-fit: contain;
    object-position: center;
    width: 100%;
    overflow: hidden;
    flex-grow: 1;
    flex-basis: 0%;
  }
  .div-85 {
    color: #999;
    text-transform: capitalize;
    align-self: start;
    margin-top: 145px;
    font: 400 18px/20px Roboto, sans-serif;
  }
  @media (max-width: 991px) {
    .div-85 {
      margin-top: 40px;
    }
  }
  .div-86 {
    disply: flex;
    flex-direction: column;
    overflow: hidden;
    align-self: stretch;
    position: relative;
    display: flex;
    min-height: 975px;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 50px 60px;
  }
  @media (max-width: 991px) {
    .div-86 {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .img-25 {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .div-87 {
    position: relative;
    width: 100%;
    max-width: 1134px;
    margin: 17px 0 38px;
  }
  @media (max-width: 991px) {
    .div-87 {
      max-width: 100%;
    }
  }
  .div-88 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-88 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column-17 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 48%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column-17 {
      width: 100%;
    }
  }
  .div-89 {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-89 {
      max-width: 100%;
      margin-top: 39px;
    }
  }
  .div-90 {
    color: #000;
    text-transform: capitalize;
    border-radius: 13px;
    border: 0.7px solid #000;
    justify-content: center;
    padding: 24px 28px 24px 16px;
    font: 600 40px/48px Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-90 {
      max-width: 100%;
      padding-right: 20px;
    }
  }
  .div-91 {
    color: #fff;
    text-transform: capitalize;
    border-radius: 28.005px;
    border: 1.4px solid #fafafa;
    background: linear-gradient(
      91deg,
      #202020 22.69%,
      rgba(87, 87, 87, 0.28) 100%
    );
    margin-top: 40px;
    justify-content: center;
    padding: 15px 31px 15px 21px;
    font: 500 22px/140% Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-91 {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .div-92 {
    color: #fff;
    text-transform: capitalize;
    border-radius: 28.005px;
    border: 1.4px solid #fafafa;
    background: linear-gradient(
      91deg,
      #202020 22.69%,
      rgba(87, 87, 87, 0.28) 100%
    );
    margin-top: 27px;
    justify-content: center;
    padding: 15px 41px 15px 21px;
    font: 700 22px/140% Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-92 {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .div-93 {
    color: #fff;
    text-transform: capitalize;
    border-radius: 28.005px;
    border: 1.4px solid #fafafa;
    background: linear-gradient(
      91deg,
      #202020 22.69%,
      rgba(87, 87, 87, 0.28) 100%
    );
    margin-top: 27px;
    justify-content: center;
    padding: 15px 40px 15px 21px;
    font: 700 22px/31px Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-93 {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .column-18 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 52%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-18 {
      width: 100%;
    }
  }
  .img-26 {
    aspect-ratio: 0.95;
    object-fit: contain;
    object-position: center;
    width: 100%;
    overflow: hidden;
    margin-top: 226px;
    flex-grow: 1;
  }
  @media (max-width: 991px) {
    .img-26 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-94 {
    disply: flex;
    flex-direction: column;
    overflow: hidden;
    align-self: stretch;
    position: relative;
    display: flex;
    min-height: 946px;
    width: 100%;
    padding-bottom: 50px;
  }
  @media (max-width: 991px) {
    .div-94 {
      max-width: 100%;
    }
  }
  .img-27 {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .div-95 {
    position: relative;
    color: #e6e6e6;
    text-transform: capitalize;
    max-width: 509px;
    z-index: 1;
    background: linear-gradient(188deg, #000 -21.03%, rgba(0, 0, 0, 0) 98.05%);
    width: 100%;
    align-items: start;
    padding: 128px 60px -41px 133px;
    font: 700 40px/48px Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-95 {
      max-width: 100%;
      padding: 40px 20px 10px;
    }
  }
  .div-96 {
    position: relative;
    align-self: start;
    display: flex;
    width: 492px;
    max-width: 100%;
    flex-direction: column;
    align-items: end;
    margin: 66px 0 279px 97px;
  }
  @media (max-width: 991px) {
    .div-96 {
      margin: 40px 0;
    }
  }
  .div-97 {
    color: #e6e6e6;
    text-transform: capitalize;
    max-width: 456px;
    font: 400 20px/28px Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-97 {
      max-width: 100%;
    }
  }
  .div-98 {
    disply: flex;
    flex-direction: column;
    color: #e6e6e6;
    text-transform: capitalize;
    position: relative;
    white-space: nowrap;
    mix-blend-mode: lighten;
    overflow: hidden;
    align-self: start;
    aspect-ratio: 1.5238095238095237;
    margin-top: 22px;
    width: 352px;
    max-width: 100%;
    justify-content: center;
    align-items: start;
    padding: 104px 60px 85px;
    font: 400 30px/120% Play Ground, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .div-98 {
      white-space: initial;
      padding: 40px 20px 0;
    }
  }
  .img-28 {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .div-99 {
    position: relative;
  }
  .div-100 {
    disply: flex;
    flex-direction: column;
    overflow: hidden;
    align-self: stretch;
    position: relative;
    display: flex;
    min-height: 1289px;
    margin-top: 7px;
    width: 100%;
    padding: 50px 0;
  }
  @media (max-width: 991px) {
    .div-100 {
      max-width: 100%;
    }
  }
  .img-29 {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .div-101 {
    position: relative;
    color: #141414;
    text-align: center;
    text-transform: capitalize;
    align-self: center;
    margin-top: 28px;
    max-width: 695px;
    font: 700 40px/48px Gilroy, sans-serif;
  }
  .div-102 {
    position: relative;
    color: #141414;
    text-transform: capitalize;
    align-self: center;
    margin-top: 22px;
    max-width: 859px;
    font: 400 20px/28px Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-102 {
      max-width: 100%;
    }
  }
  .div-103 {
    position: relative;
    text-transform: capitalize;
    max-width: 575px;
    align-self: center;
    margin-top: 52px;
    font: 400 304px/365px Play Ground, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .div-103 {
      max-width: 100%;
      font-size: 40px;
      line-height: 53px;
      margin-top: 40px;
    }
  }
  .div-104 {
    disply: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    align-self: stretch;
    display: flex;
    min-height: 896px;
    margin-bottom: 27px;
    width: 100%;
    padding-top: 50px;
  }
  @media (max-width: 991px) {
    .div-104 {
      max-width: 100%;
    }
  }
  .img-30 {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .div-105 {
    position: relative;
    background: linear-gradient(188deg, #000 -21.03%, rgba(0, 0, 0, 0) 98.05%);
    z-index: 1;
    display: flex;
    min-height: 173px;
    margin-top: 674px;
    width: 100%;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-105 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-106 {
    disply: flex;
    flex-direction: column;
    filter: blur(3px);
    overflow: hidden;
    align-self: stretch;
    position: relative;
    display: flex;
    min-height: 829px;
    width: 100%;
    align-items: center;
    padding: 50px 60px 7px;
  }
  @media (max-width: 991px) {
    .div-106 {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .img-31 {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .div-107 {
    position: relative;
    margin-top: 4px;
    width: 100%;
    max-width: 1160px;
  }
  @media (max-width: 991px) {
    .div-107 {
      max-width: 100%;
    }
  }
  .div-108 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-108 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column-19 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 61%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column-19 {
      width: 100%;
    }
  }
  .img-32 {
    aspect-ratio: 0.9;
    object-fit: contain;
    object-position: center;
    width: 100%;
    overflow: hidden;
    flex-grow: 1;
  }
  @media (max-width: 991px) {
    .img-32 {
      max-width: 100%;
      margin-top: 23px;
    }
  }
  .column-20 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 39%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-20 {
      width: 100%;
    }
  }
  .div-109 {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto 0;
  }
  @media (max-width: 991px) {
    .div-109 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-110 {
    color: #fff;
    text-transform: capitalize;
    font: 700 45px/54px Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-110 {
      max-width: 100%;
      font-size: 40px;
      line-height: 53px;
    }
  }
  .div-111 {
    color: #fff;
    text-transform: capitalize;
    margin-top: 23px;
    font: 400 23px/32px Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-111 {
      max-width: 100%;
    }
  }
</style>
