<div class="duopods-video-section">
  <svg width="100" class="img-22" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect width="100" height="100" rx="25" fill="#F6F7F9"/>
    <path d="M25 55.5557V62.0636C25 64.762 27.1429 66.6667 29.7619 66.6667H69.4443C72.0634 66.6667 74.2062 64.762 74.2062 62.0636V55.5557H25Z" fill="#018000"/>
    <path d="M69.4443 33.3334H29.7619C27.1429 33.3334 25 35.2381 25 37.9365V44.4445H74.2062V37.9365C74.2062 35.2381 72.0634 33.3334 69.4443 33.3334Z" fill="#FFA501"/>
    <path d="M74.2062 44.4445H25V55.5555H74.2062V44.4445Z" fill="#FCFBF0"/>
    <path d="M49.6028 44.9999C46.8251 44.9999 44.6029 47.2221 44.6029 49.9999C44.6029 52.7776 46.8251 54.9998 49.6028 54.9998C52.3806 54.9998 54.6028 52.7776 54.6028 49.9999C54.6028 47.2221 52.3806 44.9999 49.6028 44.9999ZM53.7298 50.5554C53.7298 50.6348 53.8092 50.7935 53.8885 50.7935C53.8092 51.0316 53.8092 51.2697 53.7298 51.5078C53.6505 51.4284 53.4917 51.5078 53.4124 51.5872C53.333 51.6665 53.4124 51.8253 53.4917 51.9046C53.4124 52.1427 53.2536 52.3014 53.1743 52.5395C53.0949 52.4602 52.9362 52.4602 52.8568 52.6189C52.7774 52.6983 52.7774 52.857 52.8568 52.9364C52.7774 53.0157 52.6981 53.0951 52.6187 53.1745L50.8727 51.1903L50.1584 50.6348L50.2378 50.5554L50.952 51.111L53.2536 52.3014L51.1901 50.7141L50.3965 50.3967C50.3965 50.3173 50.3965 50.3173 50.4759 50.238L51.2695 50.5554L53.8092 51.111L51.3489 50.3173L50.4759 50.1586C50.4759 50.0792 50.4759 50.0792 50.4759 49.9999L51.3489 50.0792L53.9679 49.9205L51.3489 49.7618L50.4759 49.8411C50.4759 49.7618 50.4759 49.7618 50.4759 49.6824L51.3489 49.5237L53.8092 48.73L51.2695 49.2856L50.4759 49.603C50.4759 49.5237 50.4759 49.5237 50.3965 49.4443L51.1901 49.1268L53.4124 47.6983L51.1108 48.8888L50.3965 49.4443L50.3171 49.3649L51.0314 48.8094L52.7774 46.8253C52.8568 46.9046 52.9362 46.984 53.0155 47.0634C52.9362 47.1427 52.9362 47.3015 53.0155 47.3808C53.0949 47.4602 53.2536 47.4602 53.333 47.4602C53.4917 47.6189 53.5711 47.857 53.6505 48.0951C53.5711 48.1745 53.4917 48.2538 53.5711 48.4126C53.6505 48.4919 53.7298 48.5713 53.8885 48.4919C53.9679 48.73 54.0473 48.9681 54.0473 49.2062C53.9679 49.2062 53.8885 49.3649 53.8885 49.4443C53.8885 49.5237 54.0473 49.6824 54.1266 49.603C54.1266 49.6824 54.1266 49.8411 54.1266 49.9205C54.1266 49.9999 54.1266 50.1586 54.1266 50.238C53.8092 50.3173 53.7298 50.3967 53.7298 50.5554ZM46.8251 46.6665C46.9044 46.7459 47.0632 46.7459 47.1425 46.6665C47.2219 46.5872 47.2219 46.4284 47.2219 46.3491C47.3806 46.1903 47.6187 46.111 47.8568 46.0316C47.9362 46.111 48.0155 46.1904 48.1743 46.111C48.2536 46.0316 48.333 45.9523 48.2536 45.7935C48.4917 45.7142 48.7298 45.6348 48.9679 45.6348C48.9679 45.7142 49.1267 45.7935 49.206 45.7935C49.2854 45.7935 49.4441 45.6348 49.3648 45.5554C49.4441 45.5554 49.6028 45.5554 49.6822 45.5554C49.7616 45.5554 49.9203 45.5554 49.9997 45.5554C49.9997 45.6348 50.079 45.7935 50.1584 45.7935C50.2378 45.7935 50.3965 45.7142 50.3965 45.6348C50.6346 45.7142 50.8727 45.7142 51.1108 45.7935C51.0314 45.8729 51.1108 46.0316 51.1901 46.111C51.2695 46.1904 51.4282 46.111 51.5076 46.0316C51.7457 46.111 51.9044 46.2697 52.1425 46.3491C52.0632 46.4284 52.0632 46.5872 52.2219 46.6665C52.3012 46.7459 52.46 46.7459 52.5393 46.6665C52.6187 46.7459 52.6981 46.8253 52.7774 46.9046L50.7933 48.6507L50.2378 49.3649L50.1584 49.2856L50.714 48.5713L51.9044 46.2697L50.3171 48.4126L49.9997 49.2062C49.9203 49.2062 49.9203 49.2062 49.8409 49.1268L50.1584 48.3332L50.714 45.7935L49.9203 48.2538L49.7616 49.1268C49.6822 49.1268 49.6822 49.1268 49.6028 49.1268L49.6822 48.2538L49.6028 45.6348L49.4441 48.2538L49.5235 49.1268C49.4441 49.1268 49.4441 49.1268 49.3648 49.1268L49.206 48.2538L48.4124 45.7935L48.9679 48.3332L49.2854 49.1268C49.206 49.1268 49.206 49.1269 49.1267 49.2062L48.8092 48.4126L47.3806 46.1904L48.5711 48.4919L49.1267 49.2062L49.0473 49.2856L48.4917 48.5713L46.5076 46.8253C46.587 46.8253 46.6663 46.7459 46.8251 46.6665ZM46.5076 53.0951C46.4283 53.0157 46.3489 52.9364 46.2695 52.857C46.3489 52.7776 46.3489 52.6189 46.2695 52.5395C46.1902 52.4602 46.0314 52.4602 45.9521 52.4602C45.7933 52.3014 45.714 52.0633 45.6346 51.8253C45.714 51.7459 45.7933 51.6665 45.714 51.5078C45.6346 51.4284 45.5552 51.3491 45.3965 51.4284C45.3171 51.1903 45.2378 50.9522 45.2378 50.7141C45.3171 50.7141 45.3965 50.5554 45.3965 50.4761C45.3965 50.3967 45.2378 50.238 45.1584 50.3173C45.1584 50.238 45.1584 50.0792 45.1584 49.9999C45.1584 49.9205 45.1584 49.7618 45.1584 49.6824C45.2378 49.6824 45.3965 49.603 45.3965 49.5237C45.3965 49.4443 45.3171 49.2856 45.2378 49.2856C45.3171 49.0475 45.3171 48.8094 45.3965 48.5713C45.4759 48.6507 45.6346 48.5713 45.714 48.4919C45.7933 48.4126 45.714 48.2538 45.6346 48.1745C45.714 47.9364 45.8727 47.7776 45.9521 47.5396C46.0314 47.6189 46.1902 47.6189 46.2695 47.4602C46.3489 47.3015 46.3489 47.2221 46.2695 47.1427C46.3489 47.0634 46.4283 46.984 46.5076 46.9046L48.2536 48.8888L48.9679 49.4443L48.8886 49.5237L48.1743 48.9681L45.8727 47.7776L48.0949 49.2062L48.8886 49.5237C48.8886 49.603 48.8886 49.603 48.8092 49.6824L48.0155 49.3649L45.4759 48.8094L47.9362 49.603L48.8092 49.7618C48.8092 49.8411 48.8092 49.8411 48.8092 49.9205L47.9362 49.8411L45.2378 49.9999L47.8568 50.1586L48.7298 50.0792C48.7298 50.1586 48.7298 50.1586 48.7298 50.238L47.8568 50.3967L45.3965 51.1903L47.9362 50.6348L48.7298 50.3173C48.7298 50.3967 48.7298 50.3967 48.8092 50.4761L48.0155 50.7935L45.7933 52.2221L48.0949 51.0316L48.8092 50.4761L48.8886 50.5554L48.1743 51.111L46.5076 53.0951ZM49.2854 54.3649C49.2854 54.2856 49.206 54.1268 49.1267 54.1268C49.0473 54.1268 48.8886 54.2062 48.8886 54.2856C48.6505 54.2062 48.4124 54.2062 48.1743 54.1268C48.2536 54.0475 48.1743 53.8887 48.0949 53.8094C48.0155 53.73 47.8568 53.8094 47.7775 53.8887C47.5394 53.8094 47.3806 53.6506 47.1425 53.5713C47.2219 53.4919 47.2219 53.3332 47.0632 53.2538C46.9838 53.1745 46.8251 53.1745 46.7457 53.2538C46.6663 53.1745 46.587 53.0951 46.5076 53.0157L48.4917 51.2697L49.0473 50.5554L49.1267 50.6348L48.5711 51.3491L47.3806 53.6506L48.8092 51.4284L49.1267 50.6348C49.206 50.6348 49.206 50.6348 49.2854 50.7141L48.9679 51.5078L48.4124 54.0475L49.206 51.5872L49.3648 50.7141C49.4441 50.7141 49.4441 50.7141 49.5235 50.7141L49.4441 51.5872L49.6028 54.2062L49.7616 51.5872L49.6822 50.7141C49.7616 50.7141 49.7616 50.7141 49.8409 50.7141L49.9997 51.5872L50.7933 54.0475L50.2378 51.5078L49.9203 50.7141C49.9997 50.7141 49.9997 50.7141 50.079 50.6348L50.3965 51.4284L51.8251 53.6506L50.6346 51.3491L50.079 50.6348L50.1584 50.5554L50.714 51.2697L52.6981 53.0157C52.6187 53.0951 52.5393 53.1745 52.46 53.2538C52.3806 53.1745 52.2219 53.1745 52.1425 53.2538C52.0632 53.3332 52.0632 53.4919 52.0632 53.5713C51.9044 53.73 51.6663 53.8094 51.4282 53.8887C51.3489 53.8094 51.2695 53.73 51.1108 53.8094C50.952 53.8887 50.952 53.9681 51.0314 54.1268C50.7933 54.2062 50.5552 54.2856 50.3171 54.2856C50.3171 54.2062 50.1584 54.1268 50.079 54.1268C49.9997 54.1268 49.8409 54.2856 49.9203 54.3649C49.8409 54.3649 49.6822 54.3649 49.6028 54.3649C49.5235 54.3649 49.3648 54.3649 49.2854 54.3649Z" fill="#7D7DBC"/>
    <path d="M50.7161 50.9518L50.9542 51.1899V51.1105L50.7161 50.9518Z" fill="#6060B2"/>
  </svg>

  <div class="div-70">Engineered In India.</div>
  <div class="div-71">
    <span style="font-weight: 700; color: rgba(255, 165, 0, 1)">Made</span>
    <span style="font-weight: 700">In</span>
    <span style="font-weight: 700; color: rgba(0, 128, 0, 1)">India</span>
  </div>
  <div class="div-72">
    We’re really proud to say that we truly understand the indian audiophile and that’s why we’ve captured the details
    of these earbuds to suit all our needs.
  </div>
  <div class="div-73">
    <svg width="780" class="img-23" height="481" viewBox="0 0 780 481" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g opacity="0.3" filter="url(#filter0_if_1_227)">
      <circle cx="166.463" cy="223.859" r="166.463" fill="url(#paint0_angular_1_227)"/>
      <circle cx="166.463" cy="223.859" r="166.463" fill="url(#paint1_linear_1_227)" fill-opacity="0.5"/>
      </g>
      <g opacity="0.3" filter="url(#filter1_if_1_227)">
      <ellipse cx="612.744" cy="314.224" rx="167.256" ry="166.463" fill="url(#paint2_angular_1_227)"/>
      <ellipse cx="612.744" cy="314.224" rx="167.256" ry="166.463" fill="url(#paint3_linear_1_227)" fill-opacity="0.5"/>
      </g>
      <path d="M34.9695 293.549C43.7853 343.546 214.02 355.32 415.199 319.847C616.377 284.373 772.318 215.086 763.503 165.089C754.687 115.092 584.452 103.318 383.274 138.791C182.095 174.264 26.1537 243.552 34.9695 293.549ZM727.076 171.512C735.01 216.509 594.663 278.868 413.602 310.794C232.541 342.72 79.3305 332.123 71.3962 287.126C63.4619 242.129 203.809 179.77 384.87 147.844C565.931 115.918 719.142 126.515 727.076 171.512Z" fill="#FAFEFA"/>
      <path d="M77.4831 55.4741C52.0989 99.4408 174.938 217.885 351.852 320.026C528.765 422.167 692.76 469.327 718.144 425.36C743.529 381.393 620.69 262.949 443.776 160.808C266.862 58.6671 102.867 11.5073 77.4831 55.4741ZM686.111 406.866C663.266 446.436 515.67 403.992 356.448 312.065C197.225 220.138 86.6704 113.538 109.516 73.9684C132.362 34.3983 279.957 76.8421 439.18 168.769C598.402 260.696 708.957 367.296 686.111 406.866Z" fill="#FAFEFA"/>
      <defs>
      <filter id="filter0_if_1_227" x="-352.997" y="-295.602" width="1038.92" height="1038.92" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix"/>
      <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
      <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
      <feOffset dy="2.1322"/>
      <feGaussianBlur stdDeviation="3.1983"/>
      <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
      <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 1 0"/>
      <feBlend mode="normal" in2="shape" result="effect1_innerShadow_1_227"/>
      <feGaussianBlur stdDeviation="176.499" result="effect2_foregroundBlur_1_227"/>
      </filter>
      <filter id="filter1_if_1_227" x="197.362" y="-100.364" width="830.763" height="829.178" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix"/>
      <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
      <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
      <feOffset dy="2.1322"/>
      <feGaussianBlur stdDeviation="3.1983"/>
      <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
      <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 1 0"/>
      <feBlend mode="normal" in2="shape" result="effect1_innerShadow_1_227"/>
      <feGaussianBlur stdDeviation="124.063" result="effect2_foregroundBlur_1_227"/>
      </filter>
      <radialGradient id="paint0_angular_1_227" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(167.46 222.862) rotate(-90) scale(170.45)">
      <stop offset="0.618148" stop-color="#FF842B"/>
      <stop offset="1" stop-color="#FF6B00"/>
      </radialGradient>
      <linearGradient id="paint1_linear_1_227" x1="166.463" y1="57.3953" x2="166.463" y2="231.304" gradientUnits="userSpaceOnUse">
      <stop stop-color="white"/>
      <stop offset="1" stop-color="white" stop-opacity="0"/>
      </linearGradient>
      <radialGradient id="paint2_angular_1_227" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(613.745 313.228) rotate(-90) scale(170.45 171.262)">
      <stop offset="0.618148" stop-color="#4DCE4D"/>
      <stop offset="1" stop-color="#00FF00"/>
      </radialGradient>
      <linearGradient id="paint3_linear_1_227" x1="612.744" y1="147.761" x2="612.744" y2="321.67" gradientUnits="userSpaceOnUse">
      <stop stop-color="white"/>
      <stop offset="1" stop-color="white" stop-opacity="0"/>
      </linearGradient>
      </defs>
    </svg>

    <video class="img-24" controls>
      <source src="https://cdn.shopify.com/videos/c/o/v/a7c7dbc95d2245089f937b860684ec5c.mp4" type="video/mp4">
      Your browser does not support HTML video.
    </video>
  </div>
</div>
<style>
  .duopods-video-section{
    display : flex;
    flex-direction: column;
  }
  svg.img-22 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .div-70 {
    color: #191723;
    text-align: center;
    text-transform: capitalize;
    align-self: center;
    margin-top: 44px;
    white-space: nowrap;
    font: 400 40px/100% Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-70 {
      margin-top: 40px;
      white-space: initial;
    }
  }
  .div-71 {
    color: #008000;
    text-align: center;
    align-self: center;
    margin-top: 13px;
    white-space: nowrap;
    font: 800 54px/99% Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-71 {
      font-size: 40px;
      white-space: initial;
    }
  }
  .div-72 {
    color: #4b4955;
    text-align: center;
    align-self: center;
    z-index: 1;
    margin-top: 33px;
    max-width: 800px;
    font: 400 20px/32px Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-72 {
      max-width: 100%;
    }
  }
  .div-73 {
    disply: flex;
    flex-direction: column;
    overflow: hidden;
    align-self: center;
    position: relative;
    display: flex;
    min-height: 481px;
    margin-top: -20px;
    width: 780px;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    padding: 50px 60px;
  }
  @media (max-width: 991px) {
    .div-73 {
      padding: 0 20px;
    }
  }
  .img-23 {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .img-24 {
    aspect-ratio: 1.77;
    object-fit: contain;
    object-position: center;
    width: 580px;
    overflow: hidden;
    max-width: 100%;
    margin: 25px 0 28px;
  }
</style>
{% schema %}
{
  "name": "duopods video",
  "settings": [],
  "presets": [
    {
      "name": "duopods video"
    }
  ]
}
{% endschema %}
