<div class="product-top-review-container relative pb-8 md:pb-32">
  <ul class="product-desc-list overflow-x-scroll text-center max-w-inner-screen px-5 mx-auto relative pb-8 md:pt-52 flex flex-no-wrap">
    <li data-index="1" class="product-desc-list-item inline-block mr-5 relative">
      <p class="whitespace-normal text-center opacity-80 w-10/12 capitalize absolute position-center -mt-4 font-semibold leading-160 review-desc-container">
        The Mivi DuoPods A25 offers 10mm large audio drivers, touch control, up to 40 hours of battery life, a nice and
        secure fit for long usage. Mivi did a great and impressive job maintaining the price range.
      </p>

      <img
        src="https://cdn.shopify.com/s/files/1/0828/1391/1317/files/tech-story.png?v=1703075217"
        alt="Review image"
        class="w-[28%] max-h-2 absolute position-bottom-center mb-8 review-image-container"
      >
    </li>

    <li data-index="2" class="product-desc-list-item inline-block mr-5 relative">
      <p class="whitespace-normal text-center opacity-80 w-10/12 capitalize absolute position-center -mt-4 font-semibold leading-160 review-desc-container">
        Appreciated for its strong connectivity, this wireless earbud is versed with touch intuitive controls that allow
        easy usage.
      </p>

      <img
        src="https://cdn.shopify.com/s/files/1/0828/1391/1317/files/times-of-india.png?v=1703075267"
        alt="Review image"
        class="w-[28%] max-h-2 absolute position-bottom-center mb-8 review-image-container"
      >
    </li>

    <li data-index="3" class="product-desc-list-item inline-block mr-5 relative">
      <p class="whitespace-normal text-center opacity-80 w-10/12 capitalize absolute position-center -mt-4 font-semibold leading-160 review-desc-container">
        In this price segment this mivi A25 Duopods is Unbeatable Champion of all other available TWS in the market.
      </p>

      <img
        src="https://cdn.shopify.com/s/files/1/0828/1391/1317/files/amazon.png?v=1703075244"
        alt="Review image"
        class="w-[28%] max-h-2 absolute position-bottom-center mb-8 review-image-container"
      >
    </li>
  </ul>
</div>
<div class="grid grid-cols-2 md:grid-cols-4 product-info-container md:mx-auto max-w-inner-screen px-5">
  <div data-index="1" class="spec-div inline-block md:flex text-center md:text-left px-2">
    <img
      src="https://cdn.shopify.com/s/files/1/0828/1391/1317/files/Group_918.png?v=1703079146"
      alt="Specs image"
      class="w-10 md:w-16 mx-auto mb-4 md:mb-0 md:mr-8 md:ml-0 block md:self-center"
    >
    <p class="text-18 block md:inline-block md:align-middle font-semibold self-center">High-Definition Stereo Sound</p>
  </div>

  <div data-index="2" class="spec-div inline-block md:flex text-center md:text-left px-2">
    <img
      src="https://cdn.shopify.com/s/files/1/0828/1391/1317/files/Group_919.png?v=1703079187"
      alt="Specs image"
      class="w-10 md:w-16 mx-auto mb-4 md:mb-0 md:mr-8 md:ml-0 block md:self-center"
    >
    <p class="text-18 block md:inline-block md:align-middle font-semibold self-center">40 Hours Play Time</p>
  </div>

  <div data-index="3" class="spec-div inline-block md:flex text-center md:text-left px-2">
    <img
      src="https://cdn.shopify.com/s/files/1/0828/1391/1317/files/Group_917.png?v=1703079187"
      alt="Specs image"
      class="w-10 md:w-16 mx-auto mb-4 md:mb-0 md:mr-8 md:ml-0 block md:self-center"
    >
    <p class="text-18 block md:inline-block md:align-middle font-semibold self-center">Enhanced Calling Experience</p>
  </div>

  <div data-index="4" class="spec-div inline-block md:flex text-center md:text-left px-2">
    <img
      src="https://cdn.shopify.com/s/files/1/0828/1391/1317/files/soft-and-comfortable.svg?v=1703079384"
      alt="Specs image"
      class="w-10 md:w-16 mx-auto mb-4 md:mb-0 md:mr-8 md:ml-0 block md:self-center"
    >
    <p class="text-18 block md:inline-block md:align-middle font-semibold self-center">Soft &amp; Comfortable Fit</p>
  </div>
</div>
<div class="duopods-a25-feature-container">
  <div class="duopods-a25-sounds-better mt-16 md:mt-32 text-center max-w-inner-screen mx-auto">
    <div class="duopods-a25-icon-container sounds-better-icon-container mx-auto">
      <img
        src="https://cdn.shopify.com/s/files/1/0828/1391/1317/files/Vector_bd933a10-1723-4390-9978-b46d9eebf50a.png?v=1703080374"
        class="absolute position-center music-icon"
      >
    </div>
    <div class="relative">
      <p class="text-24 md:text-40 font-normal leading-100 pt-4">Sound That Just</p>
      <p class="text-40 mobile:text-48 md:text-54 leading-110 font-bold sounds-better-title-gradient">Sounds Better</p>
      <p class="text-12 leading-[18px] mobile:text-14 md:text-24 md:leading-8 mobile:leading-5 text-dark-gray w-11/12 mx-auto md:w-9/12 pt-4">
        The DuoPods A25 are the earbuds of the future and that’s why we packed them with great audio drivers which make
        your very own playlist sound so much better.
      </p>
    </div>
    <img
      src="https://cdn.shopify.com/s/files/1/0828/1391/1317/files/1-m.png?v=1703080500"
       class="w-full -mt-24 md:hidden"
    >
    <img
      src="https://cdn.shopify.com/s/files/1/0828/1391/1317/files/1.jpg?v=1703080495"
      class="w-full -mt-48 hidden md:block"
    >
  </div>

  <div class="duopods-a25-twenty-long-hours relative max-w-inner-screen mx-auto md:flex md:flex-row-reverse md:-mt-20">
    <img
      src="images/2-m.jpg"
      srcset="images/2-m_3.jpg 400w, images/2-m_1.jpg 600w, images/2-m_2.jpg 900w, images/2-m_5.jpg 1200w, images/2-m_6.jpg 1600w, images/2-m_4.jpg 2000w"
      class="w-full md:hidden"
    >
    <img
      src="images/2-m.jpg"
      srcset="images/2-m_3.jpg 400w, images/2-m_1.jpg 600w, images/2-m_2.jpg 900w, images/2-m_5.jpg 1200w, images/2-m_6.jpg 1600w, images/2-m_4.jpg 2000w"
      class="hidden md:block md:w-6/12"
    >
    <div class="absolute position-center-left w-8/12 ml-0 pl-4 mobile:pl-8">
      <div class="duopods-a25-icon-container twenty-long-hours-icon-container mr-0 md:mb-10">
        <img
          src="images/lightning.png"
          srcset="images/lightning_2.png 400w, images/lightning_1.png 600w, images/lightning_3.png 900w, images/lightning_4.png 1200w, images/lightning_5.png 1600w, images/lightning_6.png 2000w"
          class="absolute position-center lightning-icon"
        >
      </div>
      <p class="text-24 md:text-40 font-normal leading-100 pt-4">Built To Last</p>
      <p class="text-36 mobile:text-48 md:text-54 leading-100 font-bold md:pt-3 twenty-long-hours-title-gradient">
        40 Long Hours
      </p>
      <p class="text-14 md:text-24 md:leading-8 leading-5 text-dark-gray w-8/12 ml-0 md:w-6/12 pt-4 inline-block md:bg-transparent">
        We power packed these next gen <a href="/collections/earbuds" class="text-neon-green">earbuds</a> with a
        combined battery life of upto 40 hours. 7.5 Hours on a single charge!
      </p>
    </div>
  </div>

  <div class="px-5 duopods-a25-chills max-w-screen-lg mx-auto mt-12 md:mt-20">
    <div class="chills-container-bg rounded-lg pt-10 md:pt-12 text-center">
      <div class="duopods-a25-icon-container chills-icon-container mx-auto">
        <img
          src="images/chills-icon.png"
          srcset="images/chills-icon_6.png 400w, images/chills-icon_1.png 600w, images/chills-icon_3.png 900w, images/chills-icon_2.png 1200w, images/chills-icon_4.png 1600w, images/chills-icon_5.png 2000w"
          class="absolute position-center chills-icon"
        >
      </div>
      <div>
        <p class="text-24 md:text-40 font-normal leading-100 pt-4 md:pt-10">Bass That Gives You</p>
        <p class="text-48 md:text-54 leading-110 font-bold chills-title-gradient md:pt-2">Chills</p>
        <p class="text-14 md:text-24 md:leading-8 leading-5 text-dark-gray w-11/12 mx-auto md:max-w-[800px] md:w-full pt-4">
          The DuoPods A25 are specially fine tuned to deliver the highest quality bass. Heavy Metal? Hip Hop? Jazz
          Blues? Works great for all.
        </p>
      </div>
    </div>
    <img
      src="images/3.png"
      srcset="images/3_4.png 400w, images/3_5.png 600w, images/3_1.png 900w, images/3_3.png 1200w, images/3_6.png 1600w, images/3_2.png 2000w"
      class="w-full -mt-56 mb-[7rem] mobile:mb-[2rem] md:-mt-128 md:max-w-screen-md mx-auto"
    >
  </div>

  <div class="duopods-a25-they-stay -mt-12 relative max-w-inner-screen mx-auto">
    <img
      src="images/4-m.png"
      srcset="images/4-m_2.png 400w, images/4-m_1.png 600w, images/4-m_3.png 900w, images/4-m_5.png 1200w, images/4-m_6.png 1600w, images/4-m_4.png 2000w"
      class="w-full md:hidden"
    >
    <img
      src="images/4.jpg"
      srcset="images/4_1.jpg 400w, images/4_3.jpg 600w, images/4_2.jpg 900w, images/4_4.jpg 1200w, images/4_5.jpg 1600w, images/4_6.jpg 2000w"
      class="w-full hidden md:block"
    >
    <div class="absolute position-center-left w-8/12 ml-0 pl-5 md:pl-8 mt-[-4rem] mobile:mt-[-5rem] md:mt-0">
      <div class="duopods-a25-icon-container they-stay-icon-container mr-0 md:mb-10">
        <img
          src="images/running.png"
          srcset="images/running_1.png 400w, images/running_2.png 600w, images/running_3.png 900w, images/running_4.png 1200w, images/running_5.png 1600w, images/running_6.png 2000w"
          class="absolute position-center running-icon"
        >
      </div>
      <p class="text-24 md:text-40 font-normal leading-100 pt-4 md:pt-0">You Move.</p>
      <p class="text-40 mobile:text-48 md:text-54 leading-100 font-bold md:pt-3 they-stay-title-gradient w-6/12 md:w-auto">
        They Stay.
      </p>
      <p class="text-14 md:text-24 md:leading-8 leading-5 text-dark-gray w-8/12 ml-0 md:w-2/3 pt-4 inline-block md:max-w-[380px]">
        Thanks to this evenly spread weight, the earbuds are tested to not drop, EVER. Deadlift your heart out, do some
        crunches or maybe even run a marathon, they never fall off.
      </p>
    </div>
  </div>

  <div
    class="duopods-a25-made-in-india relative max-w-inner-screen mx-auto mt-16 md:mt-24 youtube-player-button"
    onclick="event.stopPropagation()"
  >
    <div class="youtube-player" data-id="Fb1ReXg7J50" onclick="event.stopPropagation()">
      <div class="player-close absolute z-10 right-0 top-0 mr-4 mt-4 cursor-pointer">
        <svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 1.29936L6.70063 8 0 14.7006 1.29936 16 8 9.29936 14.7006 16 16 14.7006 9.29936 8 16 1.29936 14.7006 0 8 6.70063 1.29936 0 0 1.29936z" fill="#fff"></path>
        </svg>
      </div>
      <div class="player-iframe"></div>
    </div>
    <div class="duopods-a25-icon-container made-in-india-icon-container md:mb-10 relative mx-auto">
      <img
        src="images/flag-icon.png"
        srcset="images/flag-icon_1.png 400w, images/flag-icon_2.png 600w, images/flag-icon_5.png 900w, images/flag-icon_6.png 1200w, images/flag-icon_3.png 1600w, images/flag-icon_4.png 2000w"
        class="absolute position-center flag-icon"
      >
    </div>
    <div class="text-center">
      <p class="text-24 md:text-40 font-normal leading-100 pt-4 md:pt-10">Engineered In India.</p>
      <p class="text-44 leading-none mobile:text-48 md:text-54 font-bold">
        <span class="text-orange-400">Made</span> In <span class="text-deep-green"> India </span>
      </p>
      <p class="text-14 md:text-24 md:leading-8 leading-5 text-dark-gray w-11/12 mx-auto md:w-9/12 my-4">
        We’re really proud to say that we truly understand the indian audiophile and that’s why we’ve captured the
        details of these earbuds to suit all our needs.
      </p>
    </div>
    <img
      src="images/5-m.png"
      srcset="images/5-m_1.png 400w, images/5-m_2.png 600w, images/5-m_4.png 900w, images/5-m_6.png 1200w, images/5-m_5.png 1600w, images/5-m_3.png 2000w"
      class="w-full md:hidden mt-[-10.5rem] mobile:-mt-48"
    >
    <img
      src="images/5.png"
      srcset="images/5_2.png 400w, images/5_3.png 600w, images/5_1.png 900w, images/5_4.png 1200w, images/5_6.png 1600w, images/5_5.png 2000w"
      class="hidden md:block md:-mt-56 lg:-mt-64"
    >
  </div>

  <div class="duopods-a25-water-and-dust relative flex flex-col md:flex-row max-w-inner-screen mx-auto items-center -mt-32 md:-mt-48">
    <div class="px-6">
      <div class="duopods-a25-icon-container water-and-dust-icon-container md:mb-10 relative ml-0">
        <img
          src="images/water-droplets.png"
          srcset="images/water-droplets_1.png 400w, images/water-droplets_2.png 600w, images/water-droplets_6.png 900w, images/water-droplets_3.png 1200w, images/water-droplets_5.png 1600w, images/water-droplets_4.png 2000w"
          class="absolute position-center water-droplets-icon"
        >
      </div>
      <p class="text-24 md:text-40 font-normal leading-100 pt-4 md:pt-0">Designed To Beat</p>
      <p class="text-36 mobile:text-48 md:text-54 leading-100 font-bold pt-2 md:pt-3 water-and-dust-title-gradient">
        Water and Dust
      </p>
      <p class="text-14 md:text-20 md:leading-8 leading-5 text-dark-gray pt-4 md:max-w-[380px]">
        Come rain or sun, grab your DuoPods A25 and head out without any worries. The earbuds with IPX4 water resistance
        are ready for it all.
      </p>
    </div>
    <img
      src="images/6-m.png"
      srcset="images/6-m_1.png 400w, images/6-m_3.png 600w, images/6-m_2.png 900w, images/6-m_6.png 1200w, images/6-m_4.png 1600w, images/6-m_5.png 2000w"
      class="w-full md:hidden"
    >
    <img
      src="images/6.png"
      srcset="images/6_2.png 400w, images/6_3.png 600w, images/6_1.png 900w, images/6_4.png 1200w, images/6_5.png 1600w, images/6_6.png 2000w"
      class="w-full max-w-screen-sm mx-auto hidden md:block"
    >
  </div>
  <div class="duopods-a25-fingertip relative flex flex-col max-w-inner-screen mx-5 md:mx-auto rounded-lg overflow-hidden mt-12 md:mt-20">
    <div class="px-6 text-center pt-10">
      <div class="duopods-a25-icon-container fingertip-icon-container md:mb-10 relative mx-auto">
        <img
          src="images/finguretip.png"
          srcset="images/finguretip_1.png 400w, images/finguretip_2.png 600w, images/finguretip_3.png 900w, images/finguretip_4.png 1200w, images/finguretip_5.png 1600w, images/finguretip_6.png 2000w"
          class="absolute position-center fingertip-icon"
        >
      </div>
      <p class="text-24 md:text-40 font-normal leading-100 pt-4 md:pt-0">Function At Your</p>
      <p class="text-48 md:text-54 leading-110 md:leading-[63px] font-bold md:pt-3 fingertip-title-gradient">
        Fingertips
      </p>
      <p class="text-14 md:text-20 md:leading-8 leading-5 text-dark-gray pt-4 md:px-8 md:max-w-[848px] md:mx-auto">
        Take calls, change songs or ask siri something quickly…. All the tap of a few fingertips. Now that’s what you
        call the earbuds of the future.
      </p>
    </div>
    <img
      src="images/8-m.png"
      srcset="images/8-m_2.png 400w, images/8-m_3.png 600w, images/8-m_1.png 900w, images/8-m_6.png 1200w, images/8-m_4.png 1600w, images/8-m_5.png 2000w"
      class="w-full md:hidden"
    >
    <img
      src="images/8.png"
      srcset="images/8_2.png 400w, images/8_5.png 600w, images/8_1.png 900w, images/8_3.png 1200w, images/8_4.png 1600w, images/8_6.png 2000w"
      class="hidden md:block md:w-5/6 md:mx-auto"
    >
  </div>
  <div class="duopods-a25-colourful-by-choice relative text-center mt-16 md:mt-32 max-w-inner-screen mx-auto">
    <div>
      <p class="text-24 md:text-40 font-normal leading-100 pt-4 md:pt-0">Premium By Design.</p>
      <p class="text-40 mobile:text-48 md:text-54 leading-100 font-bold md:pt-3 text-black w-9/12 md:w-full mx-auto mt-[10px]">
        Colorful By Choice.
      </p>
      <p class="text-14 md:text-20 md:leading-8 leading-5 pt-4 text-[#4B4955] mx-6 mobile:mx-auto max-w-[341px] md:max-w-[848px]">
        The DuoPods A25 are the perfect example of class meets street culture. Style game, on point!
      </p>
    </div>
    <div class="grid grid-cols-2 md:grid-cols-4 gap-2 md:gap-5 px-5 mt-8">
      <div class="col-span-2 row-span-2">
        <img
          src="images/colourful-by-choice-1.jpg"
          srcset="images/colourful-by-choice-1_1.jpg 400w, images/colourful-by-choice-1_3.jpg 600w, images/colourful-by-choice-1_2.jpg 900w, images/colourful-by-choice-1_5.jpg 1200w, images/colourful-by-choice-1_4.jpg 1600w, images/colourful-by-choice-1_6.jpg 2000w"
          class="w-full h-full object-cover rounded-lg"
        >
      </div>
      <div class="col-span-1 row-span-1">
        <img
          src="images/colourful-by-choice-2.jpg"
          srcset="images/colourful-by-choice-2_1.jpg 400w, images/colourful-by-choice-2_2.jpg 600w, images/colourful-by-choice-2_3.jpg 900w, images/colourful-by-choice-2_4.jpg 1200w, images/colourful-by-choice-2_5.jpg 1600w, images/colourful-by-choice-2_6.jpg 2000w"
          class="w-full h-full object-cover rounded-lg"
        >
      </div>
      <div class="col-span-1 row-span-1">
        <img
          src="images/colourful-by-choice-3.jpg"
          srcset="images/colourful-by-choice-3_1.jpg 400w, images/colourful-by-choice-3_2.jpg 600w, images/colourful-by-choice-3_6.jpg 900w, images/colourful-by-choice-3_3.jpg 1200w, images/colourful-by-choice-3_4.jpg 1600w, images/colourful-by-choice-3_5.jpg 2000w"
          class="w-full h-full object-cover rounded-lg"
        >
      </div>
      <div class="col-span-2 row-span-1">
        <img
          src="images/colourful-by-choice-4.jpg"
          srcset="images/colourful-by-choice-4_1.jpg 400w, images/colourful-by-choice-4_3.jpg 600w, images/colourful-by-choice-4_2.jpg 900w, images/colourful-by-choice-4_4.jpg 1200w, images/colourful-by-choice-4_5.jpg 1600w, images/colourful-by-choice-4_6.jpg 2000w"
          class="w-full h-full object-cover rounded-lg"
        >
      </div>
    </div>
  </div>

  <div class="duopods-a25-four-beautiful-colors relative text-center max-w-inner-screen mx-auto mt-[3rem] md:-mt-4">
    <img
      src="images/7-m.jpg"
      srcset="images/7-m_2.jpg 400w, images/7-m_1.jpg 600w, images/7-m_3.jpg 900w, images/7-m_5.jpg 1200w, images/7-m_6.jpg 1600w, images/7-m_4.jpg 2000w"
      class="w-full md:hidden"
    >
    <img
      src="images/7.jpg"
      srcset="images/7_1.jpg 400w, images/7_4.jpg 600w, images/7_2.jpg 900w, images/7_3.jpg 1200w, images/7_5.jpg 1600w, images/7_6.jpg 2000w"
      class="w-full hidden md:block"
    >
    <div class="absolute position-center md:-mt-4">
      <p class="text-100 md:text-125 leading-none font-bold md:pt-3 text-black w-full mx-auto">4</p>
      <p class="text-24 md:text-40 font-normal leading-none pt-4 md:pt-0">Beautiful Colors</p>
    </div>
  </div>
</div>
<div class="relative mt-24 md:mt-48">
  <div class="text-center w-10/12 mx-auto">
    <p class="font-extrabold text-neon-green tracking-20 md:tracking-40 uppercase m-0 text-10 md:text-16 ">
      COMPARISON
    </p>
    <p class=" text-30 md:text-48 font-extrabold mt-3 leading-none">So what makes DUOPODS A25 stand out?</p>
  </div>
  <div class="mt-16 relative px-5">
    <div class="absolute hexagon-table-line left-0 right-0 top-0 bottom-0"></div>
    <table class="text-center border-1 border-gray-100 mx-auto bg-white">
      <tbody>
        <tr>
          <th class="bg-dark-gray py-3 text-white font-bold text-14 md:text-20 w-1/3">Features</th>
          <th class="bg-dark-gray py-3 text-white font-bold text-14 md:text-20 w-1/3">DUOPODS A25</th>
          <th class="bg-dark-gray py-3 text-white font-bold text-14 md:text-20 w-1/3">Other Brand's TWS</th>
        </tr>
        <tr class="border border-gray-200 bg-white">
          <td class="text-12 md:text-18 px-5 py-6 border-r border-gray-200 font-semibold w-1/3">Battery Life</td>
          <td class="text-12 md:text-18 px-5 py-6 opacity-50 border-r border-gray-200 font-semibold w-1/3">
            40 hrs combined battery
          </td>
          <td class="text-12 md:text-18 px-5 py-6 opacity-50 font-semibold w-1/3">6-8 hrs</td>
        </tr>
        <tr class="border border-gray-200 bg-white">
          <td class="text-12 md:text-18 px-5 py-6 border-r border-gray-200 font-semibold w-1/3">Sound Quality</td>
          <td class="text-12 md:text-18 px-5 py-6 opacity-50 border-r border-gray-200 font-semibold w-1/3">
            Full sound signature
          </td>
          <td class="text-12 md:text-18 px-5 py-6 opacity-50 font-semibold w-1/3">Flat sound signature</td>
        </tr>
        <tr class="border border-gray-200 bg-white">
          <td class="text-12 md:text-18 px-5 py-6 border-r border-gray-200 font-semibold w-1/3">Design</td>
          <td class="text-12 md:text-18 px-5 py-6 opacity-50 border-r border-gray-200 font-semibold w-1/3">
            Premium Built
          </td>
          <td class="text-12 md:text-18 px-5 py-6 opacity-50 font-semibold w-1/3">Plastic Finish</td>
        </tr>
        <tr class="border border-gray-200 bg-white">
          <td class="text-12 md:text-18 px-5 py-6 border-r border-gray-200 font-semibold w-1/3">Bass</td>
          <td class="text-12 md:text-18 px-5 py-6 opacity-50 border-r border-gray-200 font-semibold w-1/3">
            Deep Bass
          </td>
          <td class="text-12 md:text-18 px-5 py-6 opacity-50 font-semibold w-1/3">Distorted Bass at High Volumes</td>
        </tr>
        <tr class="border border-gray-200 bg-white">
          <td class="text-12 md:text-18 px-5 py-6 border-r border-gray-200 font-semibold w-1/3">Fit</td>
          <td class="text-12 md:text-18 px-5 py-6 opacity-50 border-r border-gray-200 font-semibold w-1/3">
            Custom Tips with Secure Fit
          </td>
          <td class="text-12 md:text-18 px-5 py-6 opacity-50 font-semibold w-1/3">No Comfort Fit</td>
        </tr>
        <tr class="border border-gray-200 bg-white">
          <td class="text-12 md:text-18 px-5 py-6 border-r border-gray-200 font-semibold w-1/3">Weight</td>
          <td class="text-12 md:text-18 px-5 py-6 opacity-50 border-r border-gray-200 font-semibold w-1/3">
            Feather-light Feel
          </td>
          <td class="text-12 md:text-18 px-5 py-6 opacity-50 font-semibold w-1/3">Weighty</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="relative mt-24 md:mt-48 w-full md:w-11/12 lg:w-10/12 md:mx-auto">
  <div class="text-center w-10/12 mx-auto">
    <p class="technical-specifications-title-container text-30 md:text-48 font-extrabold mt-3 leading-none">
      Technical Specifications
    </p>
    <p class="font-extrabold text-neon-green tracking-20 md:tracking-40 uppercase m-0 text-10 md:text-16 mt-4">
      Duopods A25
    </p>
  </div>
  <div class="w-full mt-5 md:mt-24 text-center">
    <div class="inline-block w-full md:w-5/12 align-top">
      <div class="relative px-5 md:px-4 md:mx-8 w-full border-b py-6 border-gray-200 align-top">
        <input type="checkbox" class="accordian-button" checked="">
        <span class="block w-full text-left tracking-3 technical-specification-collapsible uppercase font-extrabold"
          >Audio Specifications <img src="images/bottom-arrow-neon.svg" class="float-right mt-2"
        ></span>
        <div class="technical-specification-collapsible-content accordian-container text-left">
          <h5 class="mt-4">Driver Frequency Response</h5>
          <p class="text-14 opacity-70">20 Hz to 20 KHz</p>
          <h5 class="mt-4">Driver Type</h5>
          <p class="text-14 opacity-70">Dynamic</p>
          <h5 class="mt-4">Drivers Size</h5>
          <p class="text-14 opacity-70">13mm</p>
          <h5 class="mt-4">Passive Noise Cancellation</h5>
          <p class="text-14 opacity-70">-</p>
          <h5 class="mt-4">Audio codecs supported</h5>
          <p class="text-14 opacity-70">-</p>
          <h5 class="mt-4">Microphone Type</h5>
          <p class="text-14 opacity-70">-</p>
          <h5 class="mt-4">Microphone Frequency Response</h5>
          <p class="text-14 opacity-70">-</p>
        </div>
      </div>

      <div class="relative px-5 md:px-4 md:mx-8 w-full border-b py-6 border-gray-200 align-top">
        <input type="checkbox" class="accordian-button" checked="">
        <span class="block w-full text-left tracking-3 technical-specification-collapsible uppercase font-extrabold"
          >Battery <img src="images/bottom-arrow-neon.svg" class="float-right mt-2"
        ></span>
        <div class="technical-specification-collapsible-content accordian-container text-left overflow-hidden">
          <h5 class="mt-4">Music and talk-time</h5>
          <p class="text-14 opacity-70">Up to 7.5 hours with earbuds and up to 40 hours including charging capsule.</p>
          <h5 class="mt-4">Charging time</h5>
          <p class="text-14 opacity-70">1 Hour</p>
        </div>
      </div>

      <div class="relative px-5 md:px-4 md:mx-8 w-full border-b py-6 border-gray-200 align-top">
        <input type="checkbox" class="accordian-button" checked="">
        <span class="block w-full text-left tracking-3 technical-specification-collapsible uppercase font-extrabold"
          >Bluetooth Connectivity <img src="images/bottom-arrow-neon.svg" class="float-right mt-2"
        ></span>
        <div class="technical-specification-collapsible-content accordian-container text-left overflow-hidden">
          <h5 class="mt-4">Connectivity</h5>
          <p class="text-14 opacity-70">Bluetooth 5.0</p>
          <h5 class="mt-4">Supported Bluetooth profiles</h5>
          <p class="text-14 opacity-70">-</p>
          <h5 class="mt-4">Operating range</h5>
          <p class="text-14 opacity-70">Up to 10 metres / 30 Feet</p>
        </div>
      </div>
    </div>

    <div class="inline-block w-full md:w-5/12 align-top">
      <div class="relative px-5 md:px-4 md:mx-8 w-full border-b py-6 border-gray-200 align-top">
        <input type="checkbox" class="accordian-button" checked="">
        <span class="block w-full text-left tracking-3 technical-specification-collapsible uppercase font-extrabold"
          >Physical Unit <img src="images/bottom-arrow-neon.svg" class="float-right mt-2"
        ></span>
        <div class="technical-specification-collapsible-content accordian-container text-left overflow-hidden">
          <h5 class="mt-4">Packaging dimensions</h5>
          <p class="text-14 opacity-70">107 x 107 x 41 mm (LxWxH)</p>
          <h5 class="mt-4">Charging capsule dimensions</h5>
          <p class="text-14 opacity-70">-</p>
          <h5 class="mt-4">Earbud dimensions</h5>
          <p class="text-14 opacity-70">-</p>
          <h5 class="mt-4">Weight</h5>
          <p class="text-14 opacity-70">35 g charging Capsule, 3.5 g right earbud, 3.5 g left earbud</p>
          <h5 class="mt-4">Operating temperature</h5>
          <p class="text-14 opacity-70">-5°C to 45°C (charging from 0° to 45°)</p>
        </div>
      </div>

      <div class="relative px-5 md:px-4 md:mx-8 w-full border-b py-6 border-gray-200 align-top">
        <input type="checkbox" class="accordian-button" checked="">
        <span class="block w-full text-left tracking-3 technical-specification-collapsible uppercase font-extrabold"
          >Included in the Box <img src="images/bottom-arrow-neon.svg" class="float-right mt-2"
        ></span>
        <div class="technical-specification-collapsible-content accordian-container text-left overflow-hidden">
          <ul class="w-full mt-4">
            <li clas="w-full text-14 opacity-70 ">- Earbuds</li>
            <li clas="w-full text-14 opacity-70">- Charging Capsule</li>
            <li clas="w-full text-14 opacity-70">- USB cable</li>
            <li clas="w-full text-14 opacity-70">- 3 Pairs of silicon ear tips</li>
            <li clas="w-full text-14 opacity-70">- Warranty registration</li>
            <li clas="w-full text-14 opacity-70">- User Guide</li>
          </ul>
        </div>
      </div>

      <div class="relative px-5 md:px-4 md:mx-8 w-full border-b py-6 border-gray-200 align-top">
        <input type="checkbox" class="accordian-button" checked="">
        <span class="block w-full text-left tracking-3 technical-specification-collapsible uppercase font-extrabold"
          >Warranty <img src="images/bottom-arrow-neon.svg" class="float-right mt-2"
        ></span>
        <div class="technical-specification-collapsible-content accordian-container text-left overflow-hidden">
          <p class="w-full text-14 opacity-70 mt-4">- 1 Year best in the industry warranty on manufacturing defects.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="fixed top-0 bottom-0 left-0 right-0 bg-white md:bg-black md:bg-opacity-25 z-50 px-5 md:px-0 hidden">
  <div class="review-contaner bg-white w-full md:p-5">
    <a href="#"><img src="images/cross-icon-gray.svg" class="float-right mr-5"></a>
    <p class="text-center font-extrabold text-30 mt-5 mx-0">Review</p>
    <p class="uppercase text-neon-green font-bold tracking-3 text-center">DuoPods A25</p>
    <form class="px-5 md:px-0">
      <div class="customer-review-rating my-6">
        <input type="radio" name="rating" value="5" id="5">
        <label for="5">☆</label>
        <input type="radio" name="rating" value="4" id="4">
        <label for="4" class="mr-6">☆</label>
        <input type="radio" name="rating" value="3" id="3">
        <label for="3" class="mr-6">☆</label>
        <input type="radio" name="rating" value="2" id="2">
        <label for="2" class="mr-6">☆</label>
        <input type="radio" name="rating" value="1" id="1">
        <label for="1" class="mr-6">☆</label>
      </div>
      <textarea
        name="review-text-container"
        rows="9"
        placeholder="Write something..."
        class="w-full py-5 focus:outline-none review-textarea border-t border-gray-200"
      ></textarea>
      <div class="border-t border-gray-200 pt-5">
        <button type="submit" value="submit" class="tracking-5 text-12 opacity-30 font-bold border-2 block py-5 w-full">
          PUBLISH REVIEW
        </button>
      </div>
    </form>
  </div>
</div>
<div class="md:max-w-screen-lg md:mx-auto">
  <div class="reviews-main-container mt-16">
    <p class="font-extrabold text-32 md:text-48 text-center mb-12 md:mb-20">Reviews</p>
    <div class="flex justify-between px-3">
      <div class="w-full">
        <p class="text-54 md:text-90 md:leading-none md:mb-6 text-center font-bold">4.3</p>
        <div class="product-rating-container text-center w-10/12 mx-auto">
          <div class="inline-block product-rating-star-color-gray relative">
            <div class="product-rating-star-color-neon" style="width: 88%;"></div>
            <img
              src="images/star-bg-image.png"
              srcset="images/star-bg-image_1.png 400w, images/star-bg-image_2.png 600w, images/star-bg-image_4.png 900w, images/star-bg-image_3.png 1200w, images/star-bg-image_5.png 1600w, images/star-bg-image_6.png 2000w"
              class="w-full"
            >
          </div>
        </div>
        <p class="text-14 md:text-24 text-center mt-4 leading-loose font-bold">61 RATINGS</p>
      </div>
      <div class="w-full self-center">
        <div>
          <p class="text-9 md:text-16 md:mr-5 inline-block align-middle font-semibold">5 STAR</p>
          <div class="inline-block w-28 md:w-7/12 lg:w-8/12 bg-faded-white h-1 md:h-3 align-middle overflow-hidden mx-1">
            <div class="h-full bg-neon-green" style="width:64%;"></div>
          </div>
          <p class="text-9 md:text-16 md:ml-5 inline-block align-middle font-semibold">64%</p>
        </div>
        <div class="mt-2 md:mt-4">
          <p class="text-9 md:text-16 md:mr-5 inline-block align-middle font-semibold">4 STAR</p>
          <div class="inline-block w-28 md:w-7/12 lg:w-8/12 bg-faded-white h-1 md:h-3 align-middle overflow-hidden mx-1">
            <div class="h-full bg-neon-green" style="width:23%;"></div>
          </div>
          <p class="text-9 md:text-16 md:ml-5 inline-block align-middle font-semibold">23%</p>
        </div>
        <div class="mt-2 md:mt-4">
          <p class="text-9 md:text-16 md:mr-5 inline-block align-middle font-semibold">3 STAR</p>
          <div class="inline-block w-28 md:w-7/12 lg:w-8/12 bg-faded-white h-1 md:h-3 align-middle overflow-hidden mx-1">
            <div class="h-full bg-neon-green" style="width:9%;"></div>
          </div>
          <p class="text-9 md:text-16 md:ml-5 inline-block align-middle font-semibold">9%</p>
        </div>
        <div class="mt-2 md:mt-4">
          <p class="text-9 md:text-16 md:mr-5 inline-block align-middle font-semibold">2 STAR</p>
          <div class="inline-block w-28 md:w-7/12 lg:w-8/12 bg-faded-white h-1 md:h-3 align-middle overflow-hidden mx-1">
            <div class="h-full bg-neon-green" style="width:3%;"></div>
          </div>
          <p class="text-9 md:text-16 md:ml-5 inline-block align-middle font-semibold">3%</p>
        </div>
        <div class="mt-2 md:mt-4">
          <p class="text-9 md:text-16 md:mr-5 inline-block align-middle font-semibold">1 STAR</p>
          <div class="inline-block w-28 md:w-7/12 lg:w-8/12 bg-faded-white h-1 md:h-3 align-middle overflow-hidden mx-1">
            <div class="h-full bg-neon-green" style="width:1%;"></div>
          </div>
          <p class="text-9 md:text-16 md:ml-5 inline-block align-middle font-semibold">1%</p>
        </div>
      </div>
    </div>
  </div>
  <!--
    <div class="px-5 mt-10 md:mb-20 md:mt-16 text-center text-12 md:text-14 font-extrabold md:w-5/12 md:mx-auto">
      <a href="#" class="border-2 border-neon-green block py-5 tracking-40">WRITE A REVIEW</a>
    </div>
  -->
  <div class="px-5 mt-10 md:mt-16 max-w-lg mx-auto">
    <div class="border-b border-gray-200">
      <p class="text-24 pt-6 font-bold">At this price it's a BEAST 🔥.</p>
      <div class="mb-2 mt-2">
        <div>
          <div class="inline-block product-rating-star-color-gray relative">
            <div class="product-rating-star-color-neon w-full"></div>
            <img
              src="images/review-star-bg-image.png"
              srcset="images/review-star-bg-image_1.png 400w, images/review-star-bg-image_2.png 600w, images/review-star-bg-image_3.png 900w, images/review-star-bg-image_4.png 1200w, images/review-star-bg-image_5.png 1600w, images/review-star-bg-image_6.png 2000w"
              class="w-full"
            >
          </div>
        </div>
      </div>
      <p class="text-14 md:text-16 opacity-80 mb-4 font-medium">
        In this price segment this mivi A25 Duopods is Unbeatable Champion of all other available TWS in the market.
      </p>
      <p class="text-14 md:text-16 opacity-80 mb-4 font-medium">
        I have to say what a bass just outstanding deded sound quality no doubt awesome, battery life is quite SUPERB,
        easily get connected and somewhat you can say fast charging and ....
      </p>
      <p class="text-14 md:text-16 opacity-80 mb-4 font-medium">
        Value for money Product and yes its an INDIAN Company.
      </p>
      <p class="uppercase text-12 md:text-14 font-extrabold">Akshat Shrivastava</p>
      <p class="uppercase text-12 font-extrabold mt-1 pb-5 md:pb-6 opacity-0">January 15, 2020 8:12 PM</p>
    </div>

    <div class="border-b border-gray-200">
      <p class="text-24 pt-6 font-bold">MUST READ THIS BEFORE PURCHASING IT..!!!</p>
      <div class="mb-2 mt-2">
        <div>
          <div class="inline-block product-rating-star-color-gray relative">
            <div class="product-rating-star-color-neon w-full"></div>
            <img
              src="images/review-star-bg-image.png"
              srcset="images/review-star-bg-image_1.png 400w, images/review-star-bg-image_2.png 600w, images/review-star-bg-image_3.png 900w, images/review-star-bg-image_4.png 1200w, images/review-star-bg-image_5.png 1600w, images/review-star-bg-image_6.png 2000w"
              class="w-full"
            >
          </div>
        </div>
      </div>
      <p class="text-14 md:text-16 opacity-80 mb-4 font-medium">
        In this price segment this mivi DuoPods A25 is Unbeatable Champion of all other available pods in market.
      </p>
      <p class="text-14 md:text-16 opacity-80 mb-4 font-medium">
        I have to say what a bass just outstanding 👍🏻👍🏻👍🏻 sound quality no doubt awesome, battery life is quite good,
        easily get connected and somewhat you can say fast charging and . . . .
      </p>
      <p class="text-14 md:text-16 opacity-80 mb-4 font-medium">
        Value for money Product and yes its an INDIAN Company as well
      </p>
      <p class="uppercase text-12 md:text-14 font-extrabold">Afzal</p>
      <p class="uppercase text-12 font-extrabold mt-1 pb-5 md:pb-6 opacity-0">January 15, 2020 8:12 PM</p>
    </div>

    <div class="border-b border-gray-200">
      <p class="text-24 pt-6 font-bold">Stylish, good sound.</p>
      <div class="mb-2 mt-2">
        <div>
          <div class="inline-block product-rating-star-color-gray relative">
            <div class="product-rating-star-color-neon w-full"></div>
            <img
              src="images/review-star-bg-image.png"
              srcset="images/review-star-bg-image_1.png 400w, images/review-star-bg-image_2.png 600w, images/review-star-bg-image_3.png 900w, images/review-star-bg-image_4.png 1200w, images/review-star-bg-image_5.png 1600w, images/review-star-bg-image_6.png 2000w"
              class="w-full"
            >
          </div>
        </div>
      </div>
      <p class="text-14 md:text-16 opacity-80 mb-4 font-medium">
        Got the Mivi A25 around a week ago and have been using since then. And this is probably my 5th Mivi bluetooth
        earphones. I just love using them. Talking about the A25, it is very light in weight, the sound is pretty good.
      </p>
      <p class="uppercase text-12 md:text-14 font-extrabold">Vineet</p>
      <p class="uppercase text-12 font-extrabold mt-1 pb-5 md:pb-6 opacity-0">January 15, 2020 8:12 PM</p>
    </div>

    <div class="border-b border-gray-200">
      <p class="text-24 pt-6 font-bold">Battery 🔋 is very good in this TWS Earphone.</p>
      <div class="mb-2 mt-2">
        <div>
          <div class="inline-block product-rating-star-color-gray relative">
            <div class="product-rating-star-color-neon w-full"></div>
            <img
              src="images/review-star-bg-image.png"
              srcset="images/review-star-bg-image_1.png 400w, images/review-star-bg-image_2.png 600w, images/review-star-bg-image_3.png 900w, images/review-star-bg-image_4.png 1200w, images/review-star-bg-image_5.png 1600w, images/review-star-bg-image_6.png 2000w"
              class="w-full"
            >
          </div>
        </div>
      </div>
      <p class="text-14 md:text-16 opacity-80 mb-4 font-medium">
        According to my initial impression, In this price range this tws earphone Overrated in terms of battery, I Can
        take it from morning to late night.
      </p>
      <p class="uppercase text-12 md:text-14 font-extrabold">Naveen</p>
      <p class="uppercase text-12 font-extrabold mt-1 pb-5 md:pb-6 opacity-0">January 15, 2020 8:12 PM</p>
    </div>

    <div class="w-9/12 mx-auto mt-6 text-center text-12 md:text-14 font-bold mb-16 hidden">
      <a href="#" class="border-2 border-dark-gray block py-5 tracking-40">READ MORE</a>
    </div>
  </div>
</div>
<div class="product-support-container w-full md:max-w-screen-lg md:mx-auto md:relative md:z-20 md:mt-48 md:-mb-24">
  <p class="text-white pt-8 text-30 font-extrabold text-center">PRODUCT SUPPORT</p>
  <p class="text-neon-green font-extrabold text-14  md:text-24 text-center mt-8 tracking-4">FAQS</p>
  <div class="pt-12 px-5 md:px-16 pb-5 md:pb-16">
    <div class="md:max-w-xl md:mx-auto">
      <div class="border-b border-gray-200 border-color relative py-5">
        <input type="checkbox" class="accordian-button" checked="">
        <span class="text-18 leading-7 relative text-left w-full grid faqs gap-x-6 content-center text-gray-400 focus:outline-none focus:text-gray-900">
          <span class="text-white font-bold text-20">Does DuoPods support my Phone model ?</span>
          <span class="h-7 flex items-center">
            <img src="images/bottom-arrow-neon.svg" class="rotate-0 h-6 w-6 transform">
          </span>
        </span>
        <div class="accordian-container mt-2 pr-12 overflow-hidden text-18 leading-6 text-white font-medium">
          <p>
            Yes DuoPods A25 can connect to all the smartphone(Android and iOS) and devices which have Bluetooth
            connectivity.
          </p>
        </div>
      </div>

      <div class="border-b border-gray-200 border-color relative py-5">
        <input type="checkbox" class="accordian-button" checked="">
        <span class="text-18 leading-7 relative text-left w-full grid faqs gap-x-6 content-center text-gray-400 focus:outline-none focus:text-gray-900">
          <span class="text-white font-bold text-20"> Can I connect DuoPods to my Laptop ?</span>
          <span class="h-7 flex items-center">
            <img src="images/bottom-arrow-neon.svg" class="rotate-0 h-6 w-6 transform">
          </span>
        </span>
        <div class="accordian-container mt-2 pr-12 overflow-hidden text-18 leading-6 text-white font-medium">
          <p>Yes. DuoPods A25 can be connected to all laptops which have Bluetooth connectivity.</p>
        </div>
      </div>

      <div class="border-b border-gray-200 border-color relative py-5">
        <input type="checkbox" class="accordian-button" checked="">
        <span class="text-18 leading-7 relative text-left w-full grid faqs gap-x-6 content-center text-gray-400 focus:outline-none focus:text-gray-900">
          <span class="text-white font-bold text-20">
            How do I ensure the best possible Bluetooth signal for my DuoPods?</span
          >
          <span class="h-7 flex items-center">
            <img src="images/bottom-arrow-neon.svg" class="rotate-0 h-6 w-6 transform">
          </span>
        </span>
        <div class="accordian-container mt-2 pr-12 overflow-hidden text-18 leading-6 text-white font-medium">
          <p>To get the best possible Bluetooth signal, follow this guidance</p>
          <ul>
            <li class="pl-5">
              - Make sure the distance between your DuoPods A-25 and the paired device (such as the smartphone, tablet,
              computer) does not exceed 10 metres.
            </li>
            <li class="pl-5">
              - Make sure there is a direct line of sight between your DuoPods A-25 and the paired device. Ensure there
              are no structures that can block radio signals, such as walls and doors, between paired devices.
            </li>
          </ul>
        </div>
      </div>

      <div class="border-b border-gray-200 border-color relative py-5">
        <input type="checkbox" class="accordian-button" checked="">
        <span class="text-18 leading-7 relative text-left w-full grid faqs gap-x-6 content-center text-gray-400 focus:outline-none focus:text-gray-900">
          <span class="text-white font-bold text-20">How does dust build-up in the earbuds affect volume? </span>
          <span class="h-7 flex items-center">
            <img src="images/bottom-arrow-neon.svg" class="rotate-0 h-6 w-6 transform">
          </span>
        </span>
        <div class="accordian-container mt-2 pr-12 overflow-hidden text-18 leading-6 text-white font-medium">
          <p>
            Earbuds inserted in the ear using in ear tips can become dirty over time due to body heat, sweat, or oil.
            Accumulated contamination may block the speaker and result in lower than normal volume.
          </p>
          <p>We recommend that you regularly clean the ear tip using the following guidelines.</p>
          <ul>
            <li class="pl-5">- Remove the ear tip from the speaker/earbud.</li>
            <li class="pl-5">
              - Use a wash cloth dampened with warm water. Wipe the outer surface of the ear tip and let it air dry
              completely before the next use.
            </li>
            <li class="pl-5">
              - Use a cotton swab dampened with warm water to clean around the hole in the middle of the ear tip. Let it
              air dry completely before its next use.
            </li>
            <li class="pl-5">- Do not clean the speaker itself - clean only the ear tip.</li>
          </ul>
          <p>General advice about care and hygiene</p>
          <p>Do not handle the ear tips immediately after applying hand sanitisers, lotions, or sunscreen.</p>
          <p>
            Try each different ear tips sizes to get the optimal fit (medium size comes pre-mounted with your new Mivi
            Collar). The fit should feel tight and secure in your ear. Ensure the ear tips is firmly attached.
          </p>
        </div>
      </div>

      <div class="border-b border-gray-200 border-color relative py-5">
        <input type="checkbox" class="accordian-button" checked="">
        <span class="text-18 leading-7 relative text-left w-full grid faqs gap-x-6 content-center text-gray-400 focus:outline-none focus:text-gray-900">
          <span class="text-white font-bold text-20">How do I get the best in ear fit with DuoPods?</span>
          <span class="h-7 flex items-center">
            <img src="images/bottom-arrow-neon.svg" class="rotate-0 h-6 w-6 transform">
          </span>
        </span>
        <div class="accordian-container mt-2 pr-12 overflow-hidden text-18 leading-6 text-white font-medium">
          <p>
            Insert the earbud into your ear and rotate to fit comfortably. Ensure the microphone is pointing towards
            your mouth.
          </p>
          <p>
            For optimum audio experience and fit, we recommend that you try each different ear-tip sizes. The fit should
            feel tight and secure in your ear.
          </p>
          <p>The medium is pre-mounted on the earbuds. Ensure the ear-tip is firmly attached.</p>
        </div>
      </div>
    </div>

    <div class="md:flex md:justify-between">
      <div class="mt-8 pt-6 bg-black bg-opacity-25 px-4 mobile:px-5 md:inline-block md:align-middle md:w-full md:mr-8">
        <p class="uppercase text-center md:text-left text-neon-green font-extrabold pb-8">Manuals / guides</p>
        <div class="border-b border-color pb-5 flex justify-between">
          <div>
            <img src="images/pdf-icon-neon.svg" class="inline-block align-middle">
            <p class="inline-block align-middle pl-2 text-14 mobile:pl-5 mobile:text-16 md:text-18 text-white font-bold capitalize">
              owner's guide
            </p>
          </div>
          <div class="inline-block bg-gray-300 pointer-events-none relative align-middle float-right">
            <a
              href="#"
              download="download"
              class="uppercase text-10 md:text-12 font-extrabold px-[10px] mobile:px-4 tracking-2"
              >download</a
            >
          </div>
        </div>
        <div class="pt-5 pb-6 flex justify-between">
          <div>
            <img src="images/pdf-icon-neon.svg" class="inline-block align-middle">
            <p class="inline-block align-middle pl-2 text-14 mobile:pl-5 mobile:text-16 md:text-18 text-white font-bold capitalize">
              quick start guide
            </p>
          </div>
          <div class="inline-block bg-gray-300 pointer-events-none relative align-middle float-right">
            <a
              href="#"
              download="download"
              class="uppercase text-10 md:text-12 font-extrabold px-[10px] mobile:px-4 tracking-2"
              >download</a
            >
          </div>
        </div>
      </div>
      <div class="mt-5 md:mt-8 pt-6 bg-black bg-opacity-25 px-5 md:inline-block md:align-middle md:w-full md:ml-8">
        <p class="uppercase text-center md:text-left text-neon-green font-bold pb-8">More SUPPORT</p>
        <div class="border-b border-color pb-5">
          <img src="images/troubleshoot-icon-neon.svg" class="inline-block align-middle">
          <p class="inline-block align-middle pl-5 text-16 md:text-18 text-white font-bold">Troubleshooting</p>
          <div class="inline-block bg-gray-300 pointer-events-none h-8 w-8 relative align-middle float-right">
            <a href="#" download="download"
              ><img src="images/arrow-right-icon-black.svg" class="absolute position-center"
            ></a>
          </div>
        </div>
        <div class="pt-5 pb-6">
          <img src="images/service-icon-neon.svg" class="inline-block align-middle">
          <p class="inline-block align-middle pl-5 text-16 md:text-18 text-white font-bold">Service &amp; Warranty</p>
          <div class="inline-block bg-gray-300 pointer-events-none h-8 w-8 relative align-middle float-right">
            <a href="#" download="download"
              ><img src="images/arrow-right-icon-black.svg" class="absolute position-center"
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function closePlayer(event) {
    let player = event.target.closest(".youtube-player")
    document.querySelector("body").classList.remove("overflow-hidden")

    player.querySelector(".player-iframe").innerHTML = '';
    player.classList.remove("is-active")
  }

  function initYouTubeVideo(event) {
    var playerElements = event.target.closest(".youtube-player-button").querySelector('.youtube-player');
      var videoId = playerElements.dataset.id;
      var iframe = document.createElement('iframe');
      iframe.setAttribute(
        'src',
        'https://www.youtube.com/embed/' + videoId + '?autoplay=1&rel=0'
      );
      iframe.setAttribute('frameborder', '0');
      iframe.setAttribute('allowfullscreen', '1');
      iframe.setAttribute(
        'allow',
        'accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture'
      );

      playerElements.querySelector(".player-iframe").appendChild(iframe);
      playerElements.classList.add("is-active");
      document.querySelector("body").classList.add("overflow-hidden")
  }
  document.querySelectorAll(".youtube-player-button").forEach(player => {
    player.addEventListener("click", function (event) {
      initYouTubeVideo(event)
    });
  })
  document.querySelectorAll(".player-close").forEach(player => {
    player.addEventListener("click", function (event) {
      closePlayer(event)
    });
  })
</script>
{{ 'duopodsa25.css' | asset_url | stylesheet_tag }}
{% schema %}
{
  "name": "Duopods a25",
  "settings": [],
  "presets":[
    {
      "name": "Duopods a25"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
