<div class="div">
  <div class="div-2">
    <div class="div-3">
      <div class="column">
        <img
          loading="lazy"
          srcset="..."
          class="img"
        />
      </div>
      <div class="column-2">
        <div class="div-4">
          <div class="div-5">Duopods 25</div>
          <div class="div-6">Wireless Earbuds</div>
          <div class="div-7">Wireless Earbuds Of The Future</div>
          <div class="div-8">
            Get clear, powerful sound from one of the best Made In India
            wireless earbuds. We’ve packed them full of next gen technologies so
            you can push your music, calling and audio needs to the next level.
          </div>
          <div class="div-9">
            <div class="div-10">
              <div class="div-11">SELECT COLOR</div>
              <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/54223cf7769bca94cf192d822060c0d98d7ea1337f8d8cc228d757c1adb259b7?"
                class="img-2"
              />
            </div>
            <div class="div-12">
              <div class="div-13">43 Reviews</div>
              <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/241ed0213aa96211baf19dd95c7974b04262c3b6a02615215acae455a47f1c78?"
                class="img-3"
              />
            </div>
          </div>
          <div class="div-14">
            <div class="div-15">
              <div class="div-16">
                <div class="div-17">₹2,500</div>
                <div class="div-18">₹5,700</div>
              </div>
              <div class="div-19">
                <span style="font-weight: 400">Get for</span>
                <span style="font-weight: 700">₹2,100.</span>
                <span style="font-weight: 400">Use code</span>
                <span
                  style="
                    font-weight: 700;
                    text-decoration: underline;
                    letter-spacing: 1.4px;
                    color: rgba(150, 44, 37, 1);
                  "
                >
                  MIVISALE
                </span>
              </div>
            </div>
            <div class="div-20">ADD TO CART</div>
          </div>
          <div class="div-21">
            <div class="div-22">
              <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/87d6cd94c5f740e79d454a698954ac23ef9dea1d1524666d69fb924ca394936c?"
                class="img-4"
              />
              <div class="div-23">
                Free
                <br />
                Shipping
              </div>
            </div>
            <div class="div-24">
              <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/2a4cb589ae61bddfcb9c160fcb671359ed9b9bdd1c01a07ae5e06e41bc6dfdd9?"
                class="img-5"
              />
              <div class="div-25">
                1 year
                <br />
                Warranty
              </div>
            </div>
            <div class="div-26">
              <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/f1ad09a4fb174ac7e5fbbf0b62d90c1cd0a2d6a81fb84b9d77337d3cde13e325?"
                class="img-6"
              />
              <div class="div-27">
                Made
                <br />
                in India
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="div-28">
    <div class="div-29">
      <div class="column-3">
        <div class="div-30">
          <img
            loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/1a679a7ffec4e38f0e0699ca113de3b3473eca2994cf45b1832fe2398a3e083f?"
            class="img-7"
          />
          <div class="div-31">
            Bass is so good,
            <br />
            I can’t stop dancing.
          </div>
          <div class="div-32"></div>
          <div class="div-33">Saharsh</div>
        </div>
      </div>
      <div class="column-4">
        <div class="div-34">
          <img
            loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/9a2870554ce05f967e5d837056093be4429402095eab666aded9418a28859b37?"
            class="img-8"
          />
          <div class="div-35">
            Powerfull speaker.
            <br />
            Amazing quality
          </div>
          <div class="div-36"></div>
          <div class="div-37">Rohan</div>
        </div>
      </div>
      <div class="column-5">
        <div class="div-38">
          <img
            loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/3133f54b7375c2f28e80393ba95184e528c701491bdf5279e7bcc01f3d1aaa47?"
            class="img-9"
          />
          <div class="div-39">
            Bass is so good,
            <br />
            I can’t stop dancing.
          </div>
          <div class="div-40"></div>
          <div class="div-41">Kritika</div>
        </div>
      </div>
    </div>
  </div>
  <div class="div-42">
    <div class="div-43">
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/eb663017f6ad4670cc196508093aea8060c70be58e73c53678879e13d06c8773?"
        class="img-10"
      />
      <div class="div-44">
        High-Definition
        <br />
        Stereo Sound
      </div>
    </div>
    <div class="div-45">
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/0554a03940140c891b423aead20f8a3f1cea45468514e6e561f8548540bef121?"
        class="img-11"
      />
      <div class="div-46">
        10 Hours
        <br />
        Play Time
      </div>
    </div>
    <div class="div-47">
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/a527674cf12fe1d8d201d2fc4d14ea8ce7ba8ecd91dc8221dd4d4fa52135851f?"
        class="img-12"
      />
      <div class="div-48">
        Enhanced Calling
        <br />
        Experience
      </div>
    </div>
    <div class="div-49">
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/e35844fdc1b504b08975a986141d88925103673e0b932ff972f3889e3e767594?"
        class="img-13"
      />
      <div class="div-50">
        Fast
        <br />
        Charging
      </div>
    </div>
  </div>
  <img
    loading="lazy"
    src="https://cdn.builder.io/api/v1/image/assets/TEMP/213a0ae9a1e7a785310b23b7fe097fc7c28fb6cd30663dee3a0ad26517e42177?"
    class="img-14"
  />
  <div class="div-51">
    <img
      loading="lazy"
      srcset="..."
      class="img-15"
    />
    <div class="div-52">Sound That Just</div>
    <div class="div-53">Sounds Better</div>
    <div class="div-54">
      The DuoPods A25 are the earbuds of the future and that’s why we packed
      them with great audio drivers which make your very own playlist sound so
      much better.
    </div>
  </div>
  <div class="div-55">
    <div class="div-56">
      <div class="column-6">
        <div class="div-57">
          <img
            loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/4ebf4e84f6edca4ee29f57e4a86981fa266a7ac1a46672bd990b596b895976e5?"
            class="img-16"
          />
          <div class="div-58">Built To Last</div>
          <div class="div-59">20 Long Hours</div>
          <div class="div-60">
            We power packed these next gen earbuds with a combined battery life
            of upto 20 hours. 5 Hours on a single charge!
          </div>
        </div>
      </div>
      <div class="column-7">
        <img
          loading="lazy"
          srcset="..."
          class="img-17"
        />
      </div>
    </div>
  </div>
  <img
    loading="lazy"
    src="https://cdn.builder.io/api/v1/image/assets/TEMP/647599a567a45afbf3da30c43969e32e906b5ca2c802b6f78281ff377a38e97c?"
    class="img-18"
  />
  <div class="div-61">Bass That Gives You</div>
  <div class="div-62">Chills</div>
  <div class="div-63">
    <img
      loading="lazy"
      srcset="..."
      class="img-19"
    />
    The DuoPods A25 are specially fine tuned to deliver the highest quality
    bass. Heavy Metal? Hip Hop? Jazz Blues? Works great for all.
  </div>
  <div class="div-65">
    <img
      loading="lazy"
      srcset="..."
      class="img-20"
    />
    <div class="div-66">
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/124203390118235aef5ca296f275fb96ee6e53c1e23aa42aee5f1e19f840872b?"
        class="img-21"
      />
      <div class="div-67">You Move.</div>
      <div class="div-68">They Stay.</div>
      <div class="div-69">
        Thanks to this evenly spread weight, the earbuds are tested to not drop,
        EVER. Deadlift your heart out, do some crunches or maybe even run a
        marathon, they never fall off.
      </div>
    </div>
  </div>
  <img
    loading="lazy"
    src="https://cdn.builder.io/api/v1/image/assets/TEMP/f6c5f08db19ec3bab236a8569b528aa92936f7a9ff5684665738c1ff0cb74252?"
    class="img-22"
  />
  <div class="div-70">Engineered In India.</div>
  <div class="div-71">
    <span style="font-weight: 700; color: rgba(255, 165, 0, 1)">Made</span>
    <span style="font-weight: 700">In</span>
    <span style="font-weight: 700; color: rgba(0, 128, 0, 1)">India</span>
  </div>
  <div class="div-72">
    We’re really proud to say that we truly understand the indian audiophile and
    that’s why we’ve captured the details of these earbuds to suit all our
    needs.
  </div>
  <div class="div-73">
    <img
      loading="lazy"
      src="https://cdn.builder.io/api/v1/image/assets/TEMP/636c28403e49f6cf036d94d1dda81bb295424a00ebe6ea0ab511b3168dda96fb?"
      class="img-23"
    />
    <img
      loading="lazy"
      srcset="..."
      class="img-24"
    />
  </div>
  <div class="div-74">
    <div class="div-75">
      <div class="column-8">
        <div class="div-76">
          <img
            loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/53effd92eb802317044845782f2b275ae4524c86b4ab12dc87d025d697dc66ac?"
            class="img-25"
          />
          <div class="div-77">Designed To Beat</div>
          <div class="div-78">Water and Dust</div>
          <div class="div-79">
            Come rain or sun, grab your DuoPods A25 and head out without any
            worries. The earbuds with IPX7 water resistance are ready for it
            all.
          </div>
        </div>
      </div>
      <div class="column-9">
        <div class="div-80">
          <img
            loading="lazy"
            srcset="..."
            class="img-26"
          />
          <img
            loading="lazy"
            srcset="..."
            class="img-27"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="div-81">Premium By Design.</div>
  <div class="div-82">Colorful By Choice.</div>
  <div class="div-83">
    The DuoPods A25 are the perfect example of class meets street culture. Style
    game, on point!
  </div>
  <div class="div-84">
    <div class="div-85">
      <div class="column-10">
        <img
          loading="lazy"
          srcset="..."
          class="img-28"
        />
      </div>
      <div class="column-11">
        <div class="div-86">
          <div class="div-87">
            <div class="div-88">
              <div class="column-12">
                <img
                  loading="lazy"
                  srcset="..."
                  class="img-29"
                />
              </div>
              <div class="column-13">
                <img
                  loading="lazy"
                  srcset="..."
                  class="img-30"
                />
              </div>
            </div>
          </div>
          <img
            loading="lazy"
            srcset="..."
            class="img-31"
          />
        </div>
      </div>
    </div>
  </div>
  <img
    loading="lazy"
    srcset="..."
    class="img-32"
  />
  <div class="div-89">Comparison</div>
  <div class="div-90">So what makes Collar 2 stand out?</div>
  <div class="div-91">
    <div class="div-92">
      <div class="div-93">Duopods A25</div>
      <div class="div-94">Other BT Earphones</div>
    </div>
    <div class="div-95">
      <div class="div-96">
        <div class="column-14">
          <div class="div-97">
            <div class="div-98">10 Hours Playback Time</div>
            <div class="div-99">Dual Radiators</div>
            <div class="div-100">IPX 7 Splash proof</div>
            <div class="div-101">Premium Matte Finish</div>
            <div class="div-102">TWS Enabled</div>
          </div>
        </div>
        <div class="column-15">
          <div class="div-103">
            <div class="div-104">Around 5 Hours Battery</div>
            <div class="div-105">Average Sound</div>
            <div class="div-106">Fragile</div>
            <div class="div-107">Cheap Plastic Finish</div>
            <div class="div-108">Not Supported</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="div-109">Technical Specifications</div>
  <div class="div-110">COLLAR 2</div>
  <div class="div-111">
    <div class="div-112">
      <div class="div-113">
        <div class="div-114">Audio Specifications</div>
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/b40cc9fb4eddaf13ff0303c025dd8200188c6e7c40e30aac27fb845c5d7a2427?"
          class="img-33"
        />
      </div>
      <div class="div-115"></div>
    </div>
    <div class="div-116">
      <div class="div-117">
        <div class="div-118">BATTERY</div>
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/b40cc9fb4eddaf13ff0303c025dd8200188c6e7c40e30aac27fb845c5d7a2427?"
          class="img-34"
        />
      </div>
      <div class="div-119"></div>
    </div>
  </div>
  <div class="div-120">
    <div class="div-121">
      <div class="column-16">
        <div class="div-122">
          <div class="div-123">
            <div class="div-124">CONTROLS AND CONNECTIVITY</div>
            <img
              loading="lazy"
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/b40cc9fb4eddaf13ff0303c025dd8200188c6e7c40e30aac27fb845c5d7a2427?"
              class="img-35"
            />
          </div>
          <div class="div-125"></div>
          <div class="div-126">
            <div class="div-127">INCLUDED IN THE BOX</div>
            <img
              loading="lazy"
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/b40cc9fb4eddaf13ff0303c025dd8200188c6e7c40e30aac27fb845c5d7a2427?"
              class="img-36"
            />
          </div>
          <div class="div-128"></div>
        </div>
      </div>
      <div class="column-17">
        <div class="div-129">
          <div class="div-130">
            <div class="div-131">PHYSICAL UNIT</div>
            <img
              loading="lazy"
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/b40cc9fb4eddaf13ff0303c025dd8200188c6e7c40e30aac27fb845c5d7a2427?"
              class="img-37"
            />
          </div>
          <div class="div-132"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="div-133">Reviews</div>
  <div class="div-134">
    <div class="div-135">
      <div class="column-18">
        <div class="div-136">
          <div class="div-137">4.5</div>
          <img
            loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/4ba52bd33604ecbf6c13faaf0718159c7221cfad2db40c29eaea838ee0c4c800?"
            class="img-38"
          />
          <div class="div-138">43 Reviews</div>
        </div>
      </div>
      <div class="column-19">
        <div class="div-139">
          <div class="div-140">
            <div class="div-141">5 star</div>
            <div class="div-142"><div class="div-143"></div></div>
            <div class="div-144">10%</div>
          </div>
          <div class="div-145">
            <div class="div-146">4 star</div>
            <div class="div-147"><div class="div-148"></div></div>
            <div class="div-149">80%</div>
          </div>
          <div class="div-150">
            <div class="div-151">3 star</div>
            <div class="div-152"><div class="div-153"></div></div>
            <div class="div-154">10%</div>
          </div>
          <div class="div-155">
            <div class="div-156">2 star</div>
            <div class="div-157"><div class="div-158"></div></div>
            <div class="div-159">10%</div>
          </div>
          <div class="div-160">
            <div class="div-161">1 star</div>
            <div class="div-162"><div class="div-163"></div></div>
            <div class="div-164">10%</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="div-165">WRITE A REVIEW</div>
  <div class="div-166">Simply the best!</div>
  <img
    loading="lazy"
    src="https://cdn.builder.io/api/v1/image/assets/TEMP/1104054efc1e4dc06e14075268413bbcc9606697b93343ca745bbcc11635aa79?"
    class="img-39"
  />
  <div class="div-167">
    Only the best tech products, components and parts make it inside the duopods
    and that’s what makes it the most reliable wireless earbuds out there.
  </div>
  <div class="div-168">Floyd Webb</div>
  <div class="div-169">January 15, 2020 8:12 PM</div>
  <div class="div-170"></div>
  <div class="div-171">Simply the best!</div>
  <img
    loading="lazy"
    src="https://cdn.builder.io/api/v1/image/assets/TEMP/1104054efc1e4dc06e14075268413bbcc9606697b93343ca745bbcc11635aa79?"
    class="img-40"
  />
  <div class="div-172">
    Only the best tech products, components and parts make it inside the duopods
    and that’s what makes it the most reliable wireless earbuds out there.
  </div>
  <div class="div-173">Floyd Webb</div>
  <div class="div-174">January 15, 2020 8:12 PM</div>
  <div class="div-175"></div>
  <div class="div-176">Simply the best!</div>
  <img
    loading="lazy"
    src="https://cdn.builder.io/api/v1/image/assets/TEMP/1104054efc1e4dc06e14075268413bbcc9606697b93343ca745bbcc11635aa79?"
    class="img-41"
  />
  <div class="div-177">
    Only the best tech products, components and parts make it inside the duopods
    and that’s what makes it the most reliable wireless earbuds out there.
  </div>
  <div class="div-178">Floyd Webb</div>
  <div class="div-179">January 15, 2020 8:12 PM</div>
  <div class="div-180"></div>
  <div class="div-181">Simply the best!</div>
  <img
    loading="lazy"
    src="https://cdn.builder.io/api/v1/image/assets/TEMP/1104054efc1e4dc06e14075268413bbcc9606697b93343ca745bbcc11635aa79?"
    class="img-42"
  />
  <div class="div-182">
    Only the best tech products, components and parts make it inside the duopods
    and that’s what makes it the most reliable wireless earbuds out there.
  </div>
  <div class="div-183">Floyd Webb</div>
  <div class="div-184">January 15, 2020 8:12 PM</div>
  <div class="div-185"></div>
  <div class="div-186">READ MORE</div>
  <div class="div-187">
    <div class="div-188">Product Support</div>
    <div class="div-189">FAQS</div>
    <div class="div-190">
      <div class="div-191">How long will the battery stay charged?</div>
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/b40cc9fb4eddaf13ff0303c025dd8200188c6e7c40e30aac27fb845c5d7a2427?"
        class="img-43"
      />
    </div>
    <div class="div-192"></div>
    <div class="div-193">
      <div class="div-194">
        How do I use my phone’s default virtual assistant?
      </div>
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/b40cc9fb4eddaf13ff0303c025dd8200188c6e7c40e30aac27fb845c5d7a2427?"
        class="img-44"
      />
    </div>
    <div class="div-195"></div>
    <div class="div-196">
      <div class="div-197">What is the range of earphones?</div>
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/b40cc9fb4eddaf13ff0303c025dd8200188c6e7c40e30aac27fb845c5d7a2427?"
        class="img-45"
      />
    </div>
    <div class="div-198"></div>
    <div class="div-199">
      <div class="div-200">
        How do I use my phone’s default virtual assistant?
      </div>
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/b40cc9fb4eddaf13ff0303c025dd8200188c6e7c40e30aac27fb845c5d7a2427?"
        class="img-46"
      />
    </div>
    <div class="div-201"></div>
    <div class="div-202">
      <div class="div-203">How long will the battery stay charged?</div>
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/b40cc9fb4eddaf13ff0303c025dd8200188c6e7c40e30aac27fb845c5d7a2427?"
        class="img-47"
      />
    </div>
    <div class="div-204"></div>
    <div class="div-205">
      <div class="div-206">
        <div class="column-20">
          <div class="div-207">
            <div class="div-208">Manuals/guides</div>
            <div class="div-209">
              <div class="div-210">
                <img
                  loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/a26e22cc4baa1f944ba29e0d4a4b65e6039dcd8e824d78b4c1abd3679baa1679?"
                  class="img-48"
                />
                <div class="div-211">Owner's guide</div>
              </div>
              <div class="div-212">DOWNLOAD</div>
            </div>
            <div class="div-213"></div>
            <div class="div-214">
              <div class="div-215">
                <img
                  loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/a26e22cc4baa1f944ba29e0d4a4b65e6039dcd8e824d78b4c1abd3679baa1679?"
                  class="img-49"
                />
                <div class="div-216">Quick Start Guide</div>
              </div>
              <div class="div-217">DOWNLOAD</div>
            </div>
          </div>
        </div>
        <div class="column-21">
          <div class="div-218">
            <div class="div-219">More SUPPORT</div>
            <div class="div-220">
              <div class="div-221">
                <img
                  loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/bb04eb4a8fd7274622646231ceeb40c2fd326c1fe6b3576e4496375e4b598c45?"
                  class="img-50"
                />
                <div class="div-222">Troubleshooting</div>
              </div>
              <img
                loading="lazy"
                srcset="..."
                class="img-51"
              />
            </div>
            <div class="div-223"></div>
            <div class="div-224">
              <div class="div-225">
                <img
                  loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/499543ab200177ac55fc32bcf31a368af4032e530d7329c2b252a7f395c423b1?"
                  class="img-52"
                />
                <div class="div-226">Service & Warranty</div>
              </div>
              <img
                loading="lazy"
                srcset="..."
                class="img-53"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="div-227"></div>
</div>
<style>
  .div {
    background-color: #fff;
    display: flex;
    padding-top: 50px;
    flex-direction: column;
  }
  .div-2 {
    align-self: center;
    margin-top: 9px;
    width: 100%;
    max-width: 1180px;
  }
  @media (max-width: 991px) {
    .div-2 {
      max-width: 100%;
    }
  }
  .div-3 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-3 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 55%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column {
      width: 100%;
    }
  }
  .img {
    aspect-ratio: 0.95;
    object-fit: contain;
    object-position: center;
    width: 100%;
    overflow: hidden;
    flex-grow: 1;
  }
  @media (max-width: 991px) {
    .img {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .column-2 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 45%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-2 {
      width: 100%;
    }
  }
  .div-4 {
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    padding: 0 20px;
  }
  @media (max-width: 991px) {
    .div-4 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-5 {
    text-transform: capitalize;
    background: linear-gradient(133deg, #fd371f -34.27%, #ff844b 99.35%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font: 800 54px/100% Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-5 {
      max-width: 100%;
      font-size: 40px;
    }
  }
  .div-6 {
    color: #4b4955;
    margin-top: 7px;
    font: 400 20px Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-6 {
      max-width: 100%;
    }
  }
  .div-7 {
    color: #191723;
    text-transform: capitalize;
    margin-top: 43px;
    font: 600 30px/100% Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-7 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-8 {
    color: #4b4955;
    margin-top: 32px;
    font: 500 18px/24px Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-8 {
      max-width: 100%;
    }
  }
  .div-9 {
    display: flex;
    margin-top: 49px;
    justify-content: space-between;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .div-9 {
      max-width: 100%;
      flex-wrap: wrap;
      margin-top: 40px;
    }
  }
  .div-10 {
    display: flex;
    flex-direction: column;
  }
  .div-11 {
    color: #4b4955;
    letter-spacing: 3.6px;
    text-transform: uppercase;
    font: 700 12px/100% Gilroy, sans-serif;
  }
  .img-2 {
    aspect-ratio: 6.41;
    object-fit: contain;
    object-position: center;
    width: 205px;
    overflow: hidden;
    align-self: center;
    margin-top: 16px;
  }
  .div-12 {
    align-self: start;
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  .div-13 {
    color: #4b4955;
    text-align: right;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    white-space: nowrap;
    font: 700 14px/100% Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-13 {
      white-space: initial;
    }
  }
  .img-3 {
    aspect-ratio: 5.5;
    object-fit: contain;
    object-position: center;
    width: 176px;
    overflow: hidden;
    align-self: center;
    margin-top: 12px;
  }
  .div-14 {
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .div-14 {
      max-width: 100%;
      flex-wrap: wrap;
      margin-top: 40px;
    }
  }
  .div-15 {
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
    margin: auto 0;
  }
  .div-16 {
    display: flex;
    justify-content: space-between;
    gap: 15px;
  }
  .div-17 {
    color: #4b4955;
    text-transform: uppercase;
    font: 800 28px/100% Gilroy, sans-serif;
  }
  .div-18 {
    color: #4b4955;
    text-decoration-line: strikethrough;
    text-transform: uppercase;
    align-self: start;
    margin-top: 6px;
    flex-grow: 1;
    white-space: nowrap;
    font: 600 20px/100% Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-18 {
      white-space: initial;
    }
  }
  .div-19 {
    color: #962c25;
    letter-spacing: 1.4px;
    text-decoration-line: underline;
    margin-top: 12px;
    white-space: nowrap;
    font: 600 14px/150% Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-19 {
      white-space: initial;
    }
  }
  .div-20 {
    color: #4b4955;
    text-align: center;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    white-space: nowrap;
    background-color: #0f0;
    align-self: stretch;
    flex-grow: 1;
    justify-content: center;
    padding: 25px 51px;
    font: 800 14px/100% Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-20 {
      white-space: initial;
      padding: 0 20px;
    }
  }
  .div-21 {
    display: flex;
    margin-top: 41px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 0 2px;
  }
  @media (max-width: 991px) {
    .div-21 {
      max-width: 100%;
      flex-wrap: wrap;
      margin-top: 40px;
    }
  }
  .div-22 {
    display: flex;
    gap: 12px;
    margin: auto 0;
  }
  .img-4 {
    aspect-ratio: 1.45;
    object-fit: contain;
    object-position: center;
    width: 58px;
    overflow: hidden;
    max-width: 100%;
  }
  .div-23 {
    color: #4b4955;
    text-transform: capitalize;
    align-self: center;
    margin: auto 0;
    font: 600 16px/19px Gilroy, sans-serif;
  }
  .div-24 {
    align-self: stretch;
    display: flex;
    justify-content: space-between;
    gap: 15px;
  }
  .img-5 {
    aspect-ratio: 0.78;
    object-fit: contain;
    object-position: center;
    width: 39px;
    overflow: hidden;
    max-width: 100%;
  }
  .div-25 {
    color: #4b4955;
    text-transform: capitalize;
    align-self: center;
    margin: auto 0;
    font: 600 16px/19px Gilroy, sans-serif;
  }
  .div-26 {
    align-self: stretch;
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  .img-6 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 50px;
    overflow: hidden;
    max-width: 100%;
  }
  .div-27 {
    color: #4b4955;
    text-transform: capitalize;
    align-self: center;
    margin: auto 0;
    font: 600 16px/19px Gilroy, sans-serif;
  }
  .div-28 {
    align-self: center;
    margin-top: 95px;
    width: 100%;
    max-width: 1180px;
    padding: 0 20px;
  }
  @media (max-width: 991px) {
    .div-28 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-29 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-29 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column-3 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column-3 {
      width: 100%;
    }
  }
  .div-30 {
    background-color: #f6f7f9;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
    padding: 45px 55px;
  }
  @media (max-width: 991px) {
    .div-30 {
      margin-top: 20px;
      padding: 0 20px;
    }
  }
  .img-7 {
    aspect-ratio: 1.22;
    object-fit: contain;
    object-position: center;
    width: 49px;
    fill: #0f0;
    overflow: hidden;
    align-self: center;
    max-width: 100%;
  }
  .div-31 {
    color: #172032;
    text-align: center;
    text-transform: capitalize;
    align-self: stretch;
    margin-top: 49px;
    font: 600 28px/36px Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-31 {
      margin-top: 40px;
    }
  }
  .div-32 {
    background-color: #e8e9eb;
    align-self: center;
    display: flex;
    margin-top: 34px;
    width: 4px;
    height: 30px;
    flex-direction: column;
  }
  .div-33 {
    color: #172032;
    text-align: center;
    text-transform: capitalize;
    align-self: center;
    margin-top: 31px;
    white-space: nowrap;
    font: 400 20px/120% Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-33 {
      white-space: initial;
    }
  }
  .column-4 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-4 {
      width: 100%;
    }
  }
  .div-34 {
    background-color: #f6f7f9;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
    padding: 45px 74px;
  }
  @media (max-width: 991px) {
    .div-34 {
      margin-top: 20px;
      padding: 0 20px;
    }
  }
  .img-8 {
    aspect-ratio: 1.22;
    object-fit: contain;
    object-position: center;
    width: 49px;
    fill: #0f0;
    overflow: hidden;
    align-self: center;
    max-width: 100%;
  }
  .div-35 {
    color: #172032;
    text-align: center;
    text-transform: capitalize;
    align-self: stretch;
    margin-top: 49px;
    font: 600 28px/36px Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-35 {
      margin-top: 40px;
    }
  }
  .div-36 {
    background-color: #e8e9eb;
    align-self: center;
    display: flex;
    margin-top: 34px;
    width: 4px;
    height: 30px;
    flex-direction: column;
  }
  .div-37 {
    color: #172032;
    text-align: center;
    text-transform: capitalize;
    align-self: center;
    margin-top: 31px;
    white-space: nowrap;
    font: 400 20px/120% Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-37 {
      white-space: initial;
    }
  }
  .column-5 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-5 {
      width: 100%;
    }
  }
  .div-38 {
    background-color: #f6f7f9;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
    padding: 45px 55px;
  }
  @media (max-width: 991px) {
    .div-38 {
      margin-top: 20px;
      padding: 0 20px;
    }
  }
  .img-9 {
    aspect-ratio: 1.22;
    object-fit: contain;
    object-position: center;
    width: 49px;
    fill: #0f0;
    overflow: hidden;
    align-self: center;
    max-width: 100%;
  }
  .div-39 {
    color: #172032;
    text-align: center;
    text-transform: capitalize;
    align-self: stretch;
    margin-top: 49px;
    font: 600 28px/36px Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-39 {
      margin-top: 40px;
    }
  }
  .div-40 {
    background-color: #e8e9eb;
    align-self: center;
    display: flex;
    margin-top: 34px;
    width: 4px;
    height: 30px;
    flex-direction: column;
  }
  .div-41 {
    color: #172032;
    text-align: center;
    text-transform: capitalize;
    align-self: center;
    margin-top: 31px;
    white-space: nowrap;
    font: 400 20px/120% Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-41 {
      white-space: initial;
    }
  }
  .div-42 {
    align-self: center;
    display: flex;
    margin-top: 122px;
    width: 100%;
    max-width: 1146px;
    justify-content: space-between;
    gap: 20px;
    padding: 0 20px;
  }
  @media (max-width: 991px) {
    .div-42 {
      max-width: 100%;
      flex-wrap: wrap;
      margin-top: 40px;
    }
  }
  .div-43 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  .img-10 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 60px;
    overflow: hidden;
    max-width: 100%;
  }
  .div-44 {
    color: #4b4955;
    text-transform: capitalize;
    margin: auto 0;
    font: 600 20px/26px Gilroy, sans-serif;
  }
  .div-45 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  .img-11 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 60px;
    overflow: hidden;
    max-width: 100%;
  }
  .div-46 {
    color: #4b4955;
    text-transform: capitalize;
    align-self: center;
    margin: auto 0;
    font: 600 20px/26px Gilroy, sans-serif;
  }
  .div-47 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  .img-12 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 60px;
    overflow: hidden;
    max-width: 100%;
  }
  .div-48 {
    color: #4b4955;
    text-transform: capitalize;
    margin: auto 0;
    font: 600 20px/26px Gilroy, sans-serif;
  }
  .div-49 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  .img-13 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 60px;
    overflow: hidden;
    max-width: 100%;
  }
  .div-50 {
    color: #4b4955;
    text-transform: capitalize;
    align-self: center;
    margin: auto 0;
    font: 600 20px/26px Gilroy, sans-serif;
  }
  .img-14 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 100px;
    overflow: hidden;
    align-self: center;
    margin-top: 230px;
    max-width: 100%;
  }
  @media (max-width: 991px) {
    .img-14 {
      margin-top: 40px;
    }
  }
  .div-51 {
    disply: flex;
    flex-direction: column;
    overflow: hidden;
    align-self: center;
    position: relative;
    display: flex;
    min-height: 889px;
    margin-top: 7px;
    width: 889px;
    max-width: 100%;
    padding: 44px 60px;
  }
  @media (max-width: 991px) {
    .div-51 {
      padding: 0 20px;
    }
  }
  .img-15 {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .div-52 {
    position: relative;
    color: #191723;
    text-align: center;
    text-transform: capitalize;
    align-self: center;
    white-space: nowrap;
    font: 400 40px/100% Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-52 {
      white-space: initial;
    }
  }
  .div-53 {
    position: relative;
    text-align: center;
    background: linear-gradient(11deg, #30cbfc -4.8%, #7c16fe 96.32%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    align-self: center;
    margin-top: 23px;
    white-space: nowrap;
    font: 700 54px/110% Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-53 {
      font-size: 40px;
      white-space: initial;
    }
  }
  .div-54 {
    position: relative;
    color: #4b4955;
    text-align: center;
    margin: 31px 0 493px;
    font: 400 20px/32px Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-54 {
      max-width: 100%;
      margin-bottom: 40px;
    }
  }
  .div-55 {
    align-self: center;
    width: 100%;
    max-width: 980px;
  }
  @media (max-width: 991px) {
    .div-55 {
      max-width: 100%;
    }
  }
  .div-56 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-56 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column-6 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 40%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column-6 {
      width: 100%;
    }
  }
  .div-57 {
    display: flex;
    flex-direction: column;
    margin: auto 0;
    padding: 0 20px;
  }
  @media (max-width: 991px) {
    .div-57 {
      margin-top: 40px;
    }
  }
  .img-16 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 100px;
    overflow: hidden;
    align-self: start;
    max-width: 100%;
  }
  .div-58 {
    color: #191723;
    text-transform: capitalize;
    align-self: stretch;
    margin-top: 43px;
    font: 400 40px/100% Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-58 {
      margin-top: 40px;
    }
  }
  .div-59 {
    background: linear-gradient(320deg, #84e820 19.01%, #00dc58 84.8%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    align-self: stretch;
    margin-top: 23px;
    white-space: nowrap;
    font: 700 54px/110% Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-59 {
      font-size: 40px;
      white-space: initial;
    }
  }
  .div-60 {
    color: #4b4955;
    align-self: stretch;
    margin-top: 20px;
    font: 400 20px/32px Gilroy, sans-serif;
  }
  .column-7 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 60%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-7 {
      width: 100%;
    }
  }
  .img-17 {
    aspect-ratio: 1.04;
    object-fit: contain;
    object-position: center;
    width: 100%;
    overflow: hidden;
    flex-grow: 1;
  }
  @media (max-width: 991px) {
    .img-17 {
      max-width: 100%;
      margin-top: 20px;
    }
  }
  .img-18 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 100px;
    overflow: hidden;
    align-self: center;
    margin-top: 152px;
    max-width: 100%;
  }
  @media (max-width: 991px) {
    .img-18 {
      margin-top: 40px;
    }
  }
  .div-61 {
    color: #191723;
    text-align: center;
    text-transform: capitalize;
    align-self: center;
    margin-top: 44px;
    white-space: nowrap;
    font: 400 40px/100% Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-61 {
      margin-top: 40px;
      white-space: initial;
    }
  }
  .div-62 {
    text-align: center;
    background: linear-gradient(306deg, #fc7a30 9%, #fe1616 79.16%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    align-self: center;
    z-index: 1;
    margin-top: 23px;
    white-space: nowrap;
    font: 700 54px/110% Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-62 {
      font-size: 40px;
      white-space: initial;
    }
  }
  .div-63 {
    disply: flex;
    flex-direction: column;
    color: #4b4955;
    text-align: center;
    position: relative;
    box-shadow: 17.385px 34.769px 53.892px 0px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    align-self: center;
    min-height: 678px;
    width: 678px;
    max-width: 100%;
    align-items: start;
    padding: 31px 20px 477px;
    font: 400 20px/32px Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-63 {
      max-width: 100%;
      padding-bottom: 40px;
    }
  }
  .img-19 {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .div-64 {
    position: relative;
  }
  .div-65 {
    disply: flex;
    flex-direction: column;
    overflow: hidden;
    align-self: center;
    position: relative;
    display: flex;
    min-height: 700px;
    margin-top: 49px;
    width: 100%;
    max-width: 1180px;
    padding-bottom: 50px;
  }
  @media (max-width: 991px) {
    .div-65 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .img-20 {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .div-66 {
    position: relative;
    background: linear-gradient(
      128deg,
      #fff 23.93%,
      rgba(255, 255, 255, 0) 47.82%
    );
    display: flex;
    margin-bottom: 123px;
    flex-direction: column;
    align-items: start;
    padding: 36px 80px;
  }
  @media (max-width: 991px) {
    .div-66 {
      max-width: 100%;
      margin-bottom: 40px;
      padding: 0 20px;
    }
  }
  .img-21 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 100px;
    overflow: hidden;
    margin-left: 20px;
    max-width: 100%;
  }
  @media (max-width: 991px) {
    .img-21 {
      margin-left: 10px;
    }
  }
  .div-67 {
    color: #191723;
    text-transform: capitalize;
    margin: 44px 0 0 20px;
    font: 400 40px/100% Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-67 {
      margin: 40px 0 0 10px;
    }
  }
  .div-68 {
    background: linear-gradient(306deg, #1f1927 9%, #5c638f 79.16%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 23px 0 0 20px;
    font: 700 54px/110% Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-68 {
      margin-left: 10px;
      font-size: 40px;
    }
  }
  .div-69 {
    color: #4b4955;
    width: 380px;
    max-width: 100%;
    margin: 20px 0 0 20px;
    font: 400 20px/32px Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-69 {
      margin-left: 10px;
    }
  }
  .img-22 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 100px;
    overflow: hidden;
    align-self: center;
    margin-top: 170px;
    max-width: 100%;
  }
  @media (max-width: 991px) {
    .img-22 {
      margin-top: 40px;
    }
  }
  .div-70 {
    color: #191723;
    text-align: center;
    text-transform: capitalize;
    align-self: center;
    margin-top: 44px;
    white-space: nowrap;
    font: 400 40px/100% Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-70 {
      margin-top: 40px;
      white-space: initial;
    }
  }
  .div-71 {
    color: #008000;
    text-align: center;
    align-self: center;
    margin-top: 13px;
    white-space: nowrap;
    font: 800 54px/99% Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-71 {
      font-size: 40px;
      white-space: initial;
    }
  }
  .div-72 {
    color: #4b4955;
    text-align: center;
    align-self: center;
    z-index: 1;
    margin-top: 33px;
    max-width: 800px;
    font: 400 20px/32px Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-72 {
      max-width: 100%;
    }
  }
  .div-73 {
    disply: flex;
    flex-direction: column;
    overflow: hidden;
    align-self: center;
    position: relative;
    display: flex;
    min-height: 481px;
    margin-top: -20px;
    width: 780px;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    padding: 50px 60px;
  }
  @media (max-width: 991px) {
    .div-73 {
      padding: 0 20px;
    }
  }
  .img-23 {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .img-24 {
    aspect-ratio: 1.77;
    object-fit: contain;
    object-position: center;
    width: 580px;
    overflow: hidden;
    max-width: 100%;
    margin: 25px 0 28px;
  }
  .div-74 {
    align-self: center;
    margin-top: 34px;
    width: 100%;
    max-width: 1093px;
  }
  @media (max-width: 991px) {
    .div-74 {
      max-width: 100%;
    }
  }
  .div-75 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-75 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column-8 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 35%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column-8 {
      width: 100%;
    }
  }
  .div-76 {
    z-index: 1;
    display: flex;
    flex-direction: column;
    margin: auto 0;
    padding: 0 20px;
  }
  @media (max-width: 991px) {
    .div-76 {
      margin-top: 40px;
    }
  }
  .img-25 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 100px;
    overflow: hidden;
    align-self: start;
    max-width: 100%;
  }
  .div-77 {
    color: #191723;
    text-transform: capitalize;
    align-self: stretch;
    margin-top: 45px;
    font: 400 40px/100% Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-77 {
      margin-top: 40px;
    }
  }
  .div-78 {
    background: linear-gradient(155deg, #19deeb 15.98%, #27c4f5 84.02%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    align-self: stretch;
    margin-top: 16px;
    white-space: nowrap;
    font: 700 54px/110% Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-78 {
      font-size: 40px;
      white-space: initial;
    }
  }
  .div-79 {
    color: #4b4955;
    align-self: stretch;
    margin-top: 31px;
    font: 400 20px/32px Gilroy, sans-serif;
  }
  .column-9 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 65%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-9 {
      width: 100%;
    }
  }
  .div-80 {
    disply: flex;
    flex-direction: column;
    box-shadow: -29.149px 29.149px 45.18px 0px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    position: relative;
    display: flex;
    min-height: 736px;
    justify-content: center;
    align-items: center;
    padding: 50px 60px;
  }
  @media (max-width: 991px) {
    .div-80 {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .img-26 {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .img-27 {
    aspect-ratio: 1.29;
    object-fit: contain;
    object-position: center;
    width: 510px;
    overflow: hidden;
    max-width: 100%;
    margin: 83px 0 116px;
  }
  @media (max-width: 991px) {
    .img-27 {
      margin: 40px 0;
    }
  }
  .div-81 {
    color: #191723;
    text-align: center;
    text-transform: capitalize;
    align-self: center;
    margin-top: 40px;
    white-space: nowrap;
    font: 400 40px/100% Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-81 {
      white-space: initial;
    }
  }
  .div-82 {
    color: #191723;
    text-align: center;
    align-self: center;
    margin-top: 13px;
    font: 700 54px/99% Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-82 {
      max-width: 100%;
      font-size: 40px;
    }
  }
  .div-83 {
    color: #4b4955;
    text-align: center;
    align-self: center;
    margin-top: 23px;
    font: 400 20px/160% Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-83 {
      max-width: 100%;
    }
  }
  .div-84 {
    align-self: center;
    margin-top: 39px;
    width: 100%;
    max-width: 1178px;
  }
  @media (max-width: 991px) {
    .div-84 {
      max-width: 100%;
    }
  }
  .div-85 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-85 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column-10 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column-10 {
      width: 100%;
    }
  }
  .img-28 {
    aspect-ratio: 1.16;
    object-fit: contain;
    object-position: center;
    width: 100%;
    overflow: hidden;
    flex-grow: 1;
  }
  @media (max-width: 991px) {
    .img-28 {
      max-width: 100%;
      margin-top: 19px;
    }
  }
  .column-11 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-11 {
      width: 100%;
    }
  }
  .div-86 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-86 {
      max-width: 100%;
      margin-top: 19px;
    }
  }
  .div-87 {
    padding: 0 1px;
  }
  @media (max-width: 991px) {
    .div-87 {
      max-width: 100%;
    }
  }
  .div-88 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-88 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column-12 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column-12 {
      width: 100%;
    }
  }
  .img-29 {
    aspect-ratio: 1.12;
    object-fit: contain;
    object-position: center;
    width: 100%;
    overflow: hidden;
    flex-grow: 1;
  }
  @media (max-width: 991px) {
    .img-29 {
      margin-top: 21px;
    }
  }
  .column-13 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-13 {
      width: 100%;
    }
  }
  .img-30 {
    aspect-ratio: 1.12;
    object-fit: contain;
    object-position: center;
    width: 100%;
    overflow: hidden;
    flex-grow: 1;
  }
  @media (max-width: 991px) {
    .img-30 {
      margin-top: 21px;
    }
  }
  .img-31 {
    aspect-ratio: 2.53;
    object-fit: contain;
    object-position: center;
    width: 100%;
    overflow: hidden;
    margin-top: 21px;
  }
  @media (max-width: 991px) {
    .img-31 {
      max-width: 100%;
    }
  }
  .img-32 {
    aspect-ratio: 1.01;
    object-fit: contain;
    object-position: center;
    width: 100%;
    overflow: hidden;
    align-self: center;
    margin-top: 6px;
    max-width: 1180px;
  }
  @media (max-width: 991px) {
    .img-32 {
      max-width: 100%;
    }
  }
  .div-89 {
    color: #191723;
    text-align: center;
    text-transform: capitalize;
    align-self: center;
    margin-top: 118px;
    white-space: nowrap;
    font: 400 40px/100% Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-89 {
      margin-top: 40px;
      white-space: initial;
    }
  }
  .div-90 {
    color: #191723;
    text-align: center;
    align-self: center;
    margin-top: 13px;
    font: 700 54px/99% Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-90 {
      max-width: 100%;
      font-size: 40px;
    }
  }
  .div-91 {
    border: 1px solid
      rgba(243.00000071525574, 243.00000071525574, 243.00000071525574, 1);
    align-self: center;
    display: flex;
    margin-top: 94px;
    width: 540px;
    max-width: 100%;
    padding-bottom: 33px;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-91 {
      margin-top: 40px;
    }
  }
  .div-92 {
    background: linear-gradient(91deg, #e4e8f0 1.2%, #dddee1 100%);
    z-index: 1;
    display: flex;
    margin-top: -20px;
    justify-content: space-between;
    gap: 20px;
    padding: 21px 43px 21px 74px;
  }
  @media (max-width: 991px) {
    .div-92 {
      max-width: 100%;
      flex-wrap: wrap;
      padding: 0 20px;
    }
  }
  .div-93 {
    color: #161616;
    text-align: center;
    font: 700 20px Gilroy, sans-serif;
  }
  .div-94 {
    color: #161616;
    text-align: center;
    font: 700 20px Gilroy, sans-serif;
  }
  .div-95 {
    align-self: center;
    margin-top: 32px;
    width: 470px;
    max-width: 100%;
  }
  .div-96 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-96 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column-14 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 52%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column-14 {
      width: 100%;
    }
  }
  .div-97 {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
  }
  @media (max-width: 991px) {
    .div-97 {
      margin-top: 40px;
    }
  }
  .div-98 {
    color: #4b4955;
    text-align: center;
    white-space: nowrap;
    font: 600 18px Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-98 {
      white-space: initial;
    }
  }
  .div-99 {
    color: #4b4955;
    text-align: center;
    align-self: center;
    margin-top: 65px;
    white-space: nowrap;
    font: 600 18px Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-99 {
      margin-top: 40px;
      white-space: initial;
    }
  }
  .div-100 {
    color: #4b4955;
    text-align: center;
    align-self: center;
    margin-top: 68px;
    white-space: nowrap;
    font: 600 18px Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-100 {
      margin-top: 40px;
      white-space: initial;
    }
  }
  .div-101 {
    color: #4b4955;
    text-align: center;
    margin-top: 64px;
    white-space: nowrap;
    font: 600 18px Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-101 {
      margin-top: 40px;
      white-space: initial;
    }
  }
  .div-102 {
    color: #4b4955;
    text-align: center;
    align-self: center;
    margin-top: 68px;
    white-space: nowrap;
    font: 600 18px Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-102 {
      margin-top: 40px;
      white-space: initial;
    }
  }
  .column-15 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 48%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-15 {
      width: 100%;
    }
  }
  .div-103 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 0 20px;
  }
  @media (max-width: 991px) {
    .div-103 {
      margin-top: 40px;
    }
  }
  .div-104 {
    color: #4b4955;
    text-align: center;
    align-self: stretch;
    white-space: nowrap;
    font: 600 19px Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-104 {
      white-space: initial;
    }
  }
  .div-105 {
    color: #4b4955;
    text-align: center;
    align-self: center;
    margin-top: 65px;
    white-space: nowrap;
    font: 600 18px Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-105 {
      margin-top: 40px;
      white-space: initial;
    }
  }
  .div-106 {
    color: #4b4955;
    text-align: center;
    align-self: center;
    margin-top: 64px;
    white-space: nowrap;
    font: 600 18px Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-106 {
      margin-top: 40px;
      white-space: initial;
    }
  }
  .div-107 {
    color: #4b4955;
    text-align: center;
    align-self: center;
    margin-top: 64px;
    white-space: nowrap;
    font: 600 18px Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-107 {
      margin-top: 40px;
      white-space: initial;
    }
  }
  .div-108 {
    color: #4b4955;
    text-align: center;
    align-self: center;
    margin-top: 64px;
    white-space: nowrap;
    font: 600 18px Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-108 {
      margin-top: 40px;
      white-space: initial;
    }
  }
  .div-109 {
    color: #4b4955;
    text-align: center;
    text-transform: capitalize;
    align-self: center;
    margin-top: 161px;
    font: 800 48px/100% Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-109 {
      max-width: 100%;
      font-size: 40px;
      margin-top: 40px;
    }
  }
  .div-110 {
    color: #0f0;
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;
    align-self: center;
    margin-top: 26px;
    white-space: nowrap;
    font: 800 24px Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-110 {
      white-space: initial;
    }
  }
  .div-111 {
    align-self: center;
    display: flex;
    margin-top: 86px;
    width: 100%;
    max-width: 1181px;
    align-items: start;
    justify-content: space-between;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .div-111 {
      max-width: 100%;
      flex-wrap: wrap;
      margin-top: 40px;
    }
  }
  .div-112 {
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-112 {
      max-width: 100%;
    }
  }
  .div-113 {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 20px;
    padding: 0 20px;
  }
  @media (max-width: 991px) {
    .div-113 {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .div-114 {
    color: #4b4955;
    letter-spacing: 3.2px;
    text-transform: uppercase;
    width: 256px;
    font: 800 16px/100% Gilroy, sans-serif;
  }
  .img-33 {
    aspect-ratio: 1.78;
    object-fit: contain;
    object-position: center;
    width: 16px;
    stroke-width: 2px;
    stroke: #0f0;
    overflow: hidden;
    max-width: 100%;
  }
  .div-115 {
    background-color: #4b4955;
    display: flex;
    margin-top: 33px;
    height: 1px;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-115 {
      max-width: 100%;
    }
  }
  .div-116 {
    align-self: stretch;
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-116 {
      max-width: 100%;
    }
  }
  .div-117 {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 20px;
    padding: 0 20px;
  }
  @media (max-width: 991px) {
    .div-117 {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .div-118 {
    color: #4b4955;
    letter-spacing: 3.2px;
    text-transform: uppercase;
    font: 800 16px/100% Gilroy, sans-serif;
  }
  .img-34 {
    aspect-ratio: 1.78;
    object-fit: contain;
    object-position: center;
    width: 16px;
    stroke-width: 2px;
    stroke: #0f0;
    overflow: hidden;
    max-width: 100%;
  }
  .div-119 {
    background-color: #4b4955;
    display: flex;
    margin-top: 34px;
    height: 1px;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-119 {
      max-width: 100%;
    }
  }
  .div-120 {
    align-self: center;
    margin-top: 40px;
    width: 100%;
    max-width: 1181px;
  }
  @media (max-width: 991px) {
    .div-120 {
      max-width: 100%;
    }
  }
  .div-121 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-121 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column-16 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column-16 {
      width: 100%;
    }
  }
  .div-122 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-122 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-123 {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 20px;
    padding: 0 20px;
  }
  @media (max-width: 991px) {
    .div-123 {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .div-124 {
    color: #4b4955;
    letter-spacing: 3.2px;
    text-transform: uppercase;
    flex-grow: 1;
    flex-basis: auto;
    font: 800 16px/100% Gilroy, sans-serif;
  }
  .img-35 {
    aspect-ratio: 1.78;
    object-fit: contain;
    object-position: center;
    width: 16px;
    stroke-width: 2px;
    stroke: #0f0;
    overflow: hidden;
    max-width: 100%;
  }
  .div-125 {
    background-color: #4b4955;
    display: flex;
    margin-top: 33px;
    height: 1px;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-125 {
      max-width: 100%;
    }
  }
  .div-126 {
    display: flex;
    margin-top: 40px;
    align-items: start;
    justify-content: space-between;
    gap: 20px;
    padding: 0 20px;
  }
  @media (max-width: 991px) {
    .div-126 {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .div-127 {
    color: #4b4955;
    letter-spacing: 3.2px;
    text-transform: uppercase;
    font: 800 16px/100% Gilroy, sans-serif;
  }
  .img-36 {
    aspect-ratio: 1.78;
    object-fit: contain;
    object-position: center;
    width: 16px;
    stroke-width: 2px;
    stroke: #0f0;
    overflow: hidden;
    max-width: 100%;
  }
  .div-128 {
    background-color: #4b4955;
    display: flex;
    margin-top: 34px;
    height: 1px;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-128 {
      max-width: 100%;
    }
  }
  .column-17 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-17 {
      width: 100%;
    }
  }
  .div-129 {
    display: flex;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-129 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-130 {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 20px;
    padding: 0 20px;
  }
  @media (max-width: 991px) {
    .div-130 {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .div-131 {
    color: #4b4955;
    letter-spacing: 3.2px;
    text-transform: uppercase;
    font: 800 16px/100% Gilroy, sans-serif;
  }
  .img-37 {
    aspect-ratio: 1.78;
    object-fit: contain;
    object-position: center;
    width: 16px;
    stroke-width: 2px;
    stroke: #0f0;
    overflow: hidden;
    max-width: 100%;
  }
  .div-132 {
    background-color: #4b4955;
    display: flex;
    margin-top: 34px;
    height: 1px;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-132 {
      max-width: 100%;
    }
  }
  .div-133 {
    color: #4b4955;
    text-align: center;
    text-transform: capitalize;
    align-self: center;
    margin-top: 139px;
    width: 832px;
    font: 800 48px/100% Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-133 {
      font-size: 40px;
      margin-top: 40px;
    }
  }
  .div-134 {
    align-self: center;
    margin-top: 92px;
    width: 786px;
    max-width: 100%;
  }
  @media (max-width: 991px) {
    .div-134 {
      margin-top: 40px;
    }
  }
  .div-135 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-135 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column-18 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 36%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column-18 {
      width: 100%;
    }
  }
  .div-136 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
  }
  @media (max-width: 991px) {
    .div-136 {
      margin-top: 40px;
    }
  }
  .div-137 {
    color: #4b4955;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    font: 700 90px/100% Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-137 {
      font-size: 40px;
      white-space: initial;
    }
  }
  .img-38 {
    aspect-ratio: 6.25;
    object-fit: contain;
    object-position: center;
    width: 250px;
    overflow: hidden;
    margin-top: 34px;
  }
  .div-138 {
    color: #4b4955;
    text-align: center;
    text-transform: uppercase;
    margin-top: 34px;
    white-space: nowrap;
    font: 700 24px/100% Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-138 {
      white-space: initial;
    }
  }
  .column-19 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 64%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-19 {
      width: 100%;
    }
  }
  .div-139 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-139 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-140 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 0 20px;
  }
  @media (max-width: 991px) {
    .div-140 {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .div-141 {
    color: #302e3e;
    text-align: right;
    text-transform: uppercase;
    align-self: start;
    white-space: nowrap;
    font: 600 16px Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-141 {
      white-space: initial;
    }
  }
  .div-142 {
    background-color: rgba(
      240.00000089406967,
      240.00000089406967,
      240.00000089406967,
      1
    );
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    padding-right: 60px;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
  @media (max-width: 991px) {
    .div-142 {
      padding-right: 20px;
    }
  }
  .div-143 {
    background-color: rgba(0, 255, 0, 1);
    display: flex;
    width: 27px;
    height: 12px;
    flex-direction: column;
  }
  .div-144 {
    color: #302e3e;
    text-align: right;
    align-self: start;
    white-space: nowrap;
    font: 600 16px Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-144 {
      white-space: initial;
    }
  }
  .div-145 {
    display: flex;
    margin-top: 33px;
    justify-content: space-between;
    gap: 20px;
    padding: 0 20px;
  }
  @media (max-width: 991px) {
    .div-145 {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .div-146 {
    color: #302e3e;
    text-align: right;
    text-transform: uppercase;
    align-self: start;
    white-space: nowrap;
    font: 600 16px Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-146 {
      white-space: initial;
    }
  }
  .div-147 {
    background-color: rgba(
      240.00000089406967,
      240.00000089406967,
      240.00000089406967,
      1
    );
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    padding-right: 40px;
    flex-direction: column;
    justify-content: center;
  }
  @media (max-width: 991px) {
    .div-147 {
      padding-right: 20px;
    }
  }
  .div-148 {
    background-color: rgba(0, 255, 0, 1);
    display: flex;
    height: 12px;
    flex-direction: column;
  }
  .div-149 {
    color: #302e3e;
    text-align: right;
    align-self: start;
    white-space: nowrap;
    font: 600 16px Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-149 {
      white-space: initial;
    }
  }
  .div-150 {
    display: flex;
    margin-top: 33px;
    justify-content: space-between;
    gap: 20px;
    padding: 0 20px;
  }
  @media (max-width: 991px) {
    .div-150 {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .div-151 {
    color: #302e3e;
    text-align: right;
    text-transform: uppercase;
    align-self: start;
    white-space: nowrap;
    font: 600 16px Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-151 {
      white-space: initial;
    }
  }
  .div-152 {
    background-color: rgba(
      240.00000089406967,
      240.00000089406967,
      240.00000089406967,
      1
    );
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
    justify-content: center;
  }
  .div-153 {
    background-color: rgba(0, 255, 0, 1);
    display: flex;
    height: 12px;
    flex-direction: column;
  }
  .div-154 {
    color: #302e3e;
    text-align: right;
    align-self: start;
    white-space: nowrap;
    font: 600 16px Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-154 {
      white-space: initial;
    }
  }
  .div-155 {
    display: flex;
    margin-top: 33px;
    justify-content: space-between;
    gap: 20px;
    padding: 0 20px;
  }
  @media (max-width: 991px) {
    .div-155 {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .div-156 {
    color: #302e3e;
    text-align: right;
    text-transform: uppercase;
    align-self: start;
    white-space: nowrap;
    font: 600 16px Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-156 {
      white-space: initial;
    }
  }
  .div-157 {
    background-color: rgba(
      240.00000089406967,
      240.00000089406967,
      240.00000089406967,
      1
    );
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
    justify-content: center;
  }
  .div-158 {
    background-color: rgba(0, 255, 0, 1);
    display: flex;
    height: 12px;
    flex-direction: column;
  }
  .div-159 {
    color: #302e3e;
    text-align: right;
    align-self: start;
    white-space: nowrap;
    font: 600 16px Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-159 {
      white-space: initial;
    }
  }
  .div-160 {
    display: flex;
    margin-top: 32px;
    justify-content: space-between;
    gap: 20px;
    padding: 0 20px;
  }
  @media (max-width: 991px) {
    .div-160 {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .div-161 {
    color: #302e3e;
    text-align: right;
    text-transform: uppercase;
    align-self: start;
    white-space: nowrap;
    font: 600 16px Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-161 {
      white-space: initial;
    }
  }
  .div-162 {
    background-color: rgba(
      240.00000089406967,
      240.00000089406967,
      240.00000089406967,
      1
    );
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
    justify-content: center;
  }
  .div-163 {
    background-color: rgba(0, 255, 0, 1);
    display: flex;
    height: 12px;
    flex-direction: column;
  }
  .div-164 {
    color: #302e3e;
    text-align: right;
    align-self: start;
    white-space: nowrap;
    font: 600 16px Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-164 {
      white-space: initial;
    }
  }
  .div-165 {
    color: #4b4955;
    text-align: center;
    letter-spacing: 5.6px;
    text-transform: uppercase;
    white-space: nowrap;
    border: 2px solid #0f0;
    align-self: center;
    margin-top: 65px;
    width: 380px;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    padding: 25px 60px;
    font: 800 14px/100% Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-165 {
      white-space: initial;
      margin-top: 40px;
      padding: 0 20px;
    }
  }
  .div-166 {
    color: #4b4955;
    align-self: center;
    margin-top: 91px;
    white-space: nowrap;
    font: 700 24px/100% Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-166 {
      margin-top: 40px;
      white-space: initial;
    }
  }
  .img-39 {
    aspect-ratio: 6.26;
    object-fit: contain;
    object-position: center;
    width: 119px;
    overflow: hidden;
    align-self: center;
    margin-top: 8px;
    max-width: 100%;
  }
  .div-167 {
    color: #4b4955;
    align-self: center;
    margin-top: 31px;
    max-width: 532px;
    font: 400 16px/24px Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-167 {
      max-width: 100%;
    }
  }
  .div-168 {
    color: #4b4955;
    text-transform: uppercase;
    align-self: center;
    margin-top: 35px;
    white-space: nowrap;
    font: 800 14px/100% Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-168 {
      white-space: initial;
    }
  }
  .div-169 {
    color: #4b4955;
    text-transform: uppercase;
    align-self: center;
    margin-top: 12px;
    white-space: nowrap;
    font: 800 12px/100% Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-169 {
      white-space: initial;
    }
  }
  .div-170 {
    background-color: #4b4955;
    align-self: center;
    display: flex;
    margin-top: 38px;
    width: 578px;
    max-width: 100%;
    height: 1px;
    flex-direction: column;
  }
  .div-171 {
    color: #4b4955;
    align-self: center;
    margin-top: 61px;
    white-space: nowrap;
    font: 700 24px/100% Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-171 {
      margin-top: 40px;
      white-space: initial;
    }
  }
  .img-40 {
    aspect-ratio: 6.26;
    object-fit: contain;
    object-position: center;
    width: 119px;
    overflow: hidden;
    align-self: center;
    margin-top: 8px;
    max-width: 100%;
  }
  .div-172 {
    color: #4b4955;
    align-self: center;
    margin-top: 31px;
    max-width: 532px;
    font: 400 16px/24px Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-172 {
      max-width: 100%;
    }
  }
  .div-173 {
    color: #4b4955;
    text-transform: uppercase;
    align-self: center;
    margin-top: 35px;
    white-space: nowrap;
    font: 800 14px/100% Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-173 {
      white-space: initial;
    }
  }
  .div-174 {
    color: #4b4955;
    text-transform: uppercase;
    align-self: center;
    margin-top: 12px;
    white-space: nowrap;
    font: 800 12px/100% Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-174 {
      white-space: initial;
    }
  }
  .div-175 {
    background-color: #4b4955;
    align-self: center;
    display: flex;
    margin-top: 38px;
    width: 578px;
    max-width: 100%;
    height: 1px;
    flex-direction: column;
  }
  .div-176 {
    color: #4b4955;
    align-self: center;
    margin-top: 61px;
    white-space: nowrap;
    font: 700 24px/100% Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-176 {
      margin-top: 40px;
      white-space: initial;
    }
  }
  .img-41 {
    aspect-ratio: 6.26;
    object-fit: contain;
    object-position: center;
    width: 119px;
    overflow: hidden;
    align-self: center;
    margin-top: 8px;
    max-width: 100%;
  }
  .div-177 {
    color: #4b4955;
    align-self: center;
    margin-top: 31px;
    max-width: 532px;
    font: 400 16px/24px Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-177 {
      max-width: 100%;
    }
  }
  .div-178 {
    color: #4b4955;
    text-transform: uppercase;
    align-self: center;
    margin-top: 35px;
    white-space: nowrap;
    font: 800 14px/100% Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-178 {
      white-space: initial;
    }
  }
  .div-179 {
    color: #4b4955;
    text-transform: uppercase;
    align-self: center;
    margin-top: 12px;
    white-space: nowrap;
    font: 800 12px/100% Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-179 {
      white-space: initial;
    }
  }
  .div-180 {
    background-color: #4b4955;
    align-self: center;
    display: flex;
    margin-top: 38px;
    width: 578px;
    max-width: 100%;
    height: 1px;
    flex-direction: column;
  }
  .div-181 {
    color: #4b4955;
    align-self: center;
    margin-top: 61px;
    white-space: nowrap;
    font: 700 24px/100% Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-181 {
      margin-top: 40px;
      white-space: initial;
    }
  }
  .img-42 {
    aspect-ratio: 6.26;
    object-fit: contain;
    object-position: center;
    width: 119px;
    overflow: hidden;
    align-self: center;
    margin-top: 8px;
    max-width: 100%;
  }
  .div-182 {
    color: #4b4955;
    align-self: center;
    margin-top: 31px;
    max-width: 532px;
    font: 400 16px/24px Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-182 {
      max-width: 100%;
    }
  }
  .div-183 {
    color: #4b4955;
    text-transform: uppercase;
    align-self: center;
    margin-top: 35px;
    white-space: nowrap;
    font: 800 14px/100% Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-183 {
      white-space: initial;
    }
  }
  .div-184 {
    color: #4b4955;
    text-transform: uppercase;
    align-self: center;
    margin-top: 12px;
    white-space: nowrap;
    font: 800 12px/100% Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-184 {
      white-space: initial;
    }
  }
  .div-185 {
    background-color: #4b4955;
    align-self: center;
    display: flex;
    margin-top: 38px;
    width: 578px;
    max-width: 100%;
    height: 1px;
    flex-direction: column;
  }
  .div-186 {
    color: #4b4955;
    text-align: center;
    letter-spacing: 5.6px;
    text-transform: uppercase;
    white-space: nowrap;
    border: 2px solid #4b4955;
    align-self: center;
    margin-top: 73px;
    width: 380px;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    padding: 25px 60px;
    font: 800 14px/100% Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-186 {
      white-space: initial;
      margin-top: 40px;
      padding: 0 20px;
    }
  }
  .div-187 {
    background: radial-gradient(
      572.72% 153.86% at 48.42% 21.8%,
      #5b6378 0%,
      #303642 39.67%,
      #111216 99.2%
    );
    align-self: center;
    z-index: 1;
    display: flex;
    margin-top: 160px;
    width: 100%;
    max-width: 1180px;
    flex-direction: column;
    padding: 50px 60px;
  }
  @media (max-width: 991px) {
    .div-187 {
      max-width: 100%;
      margin-top: 40px;
      padding: 0 20px;
    }
  }
  .div-188 {
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    align-self: center;
    margin-top: 33px;
    font: 800 48px/100% Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-188 {
      font-size: 40px;
    }
  }
  .div-189 {
    color: #0f0;
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;
    align-self: center;
    margin-top: 76px;
    white-space: nowrap;
    font: 800 24px Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-189 {
      margin-top: 40px;
      white-space: initial;
    }
  }
  .div-190 {
    align-self: center;
    display: flex;
    margin-top: 63px;
    width: 579px;
    max-width: 100%;
    justify-content: space-between;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .div-190 {
      flex-wrap: wrap;
      margin-top: 40px;
    }
  }
  .div-191 {
    color: #fff;
    flex-grow: 1;
    flex-basis: auto;
    font: 700 20px/100% Gilroy, sans-serif;
  }
  .img-43 {
    aspect-ratio: 1.78;
    object-fit: contain;
    object-position: center;
    width: 16px;
    stroke-width: 2px;
    stroke: #0f0;
    overflow: hidden;
    align-self: start;
    margin-top: 8px;
    max-width: 100%;
  }
  .div-192 {
    background-color: #fff;
    align-self: center;
    display: flex;
    margin-top: 25px;
    width: 578px;
    max-width: 100%;
    height: 1px;
    flex-direction: column;
  }
  .div-193 {
    align-self: center;
    display: flex;
    margin-top: 40px;
    width: 579px;
    max-width: 100%;
    justify-content: space-between;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .div-193 {
      flex-wrap: wrap;
    }
  }
  .div-194 {
    color: #fff;
    flex-grow: 1;
    flex-basis: auto;
    font: 700 20px/100% Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-194 {
      max-width: 100%;
    }
  }
  .img-44 {
    aspect-ratio: 1.78;
    object-fit: contain;
    object-position: center;
    width: 16px;
    stroke-width: 2px;
    stroke: #0f0;
    overflow: hidden;
    align-self: start;
    margin-top: 8px;
    max-width: 100%;
  }
  .div-195 {
    background-color: #fff;
    align-self: center;
    display: flex;
    margin-top: 25px;
    width: 578px;
    max-width: 100%;
    height: 1px;
    flex-direction: column;
  }
  .div-196 {
    align-self: center;
    display: flex;
    margin-top: 41px;
    width: 579px;
    max-width: 100%;
    justify-content: space-between;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .div-196 {
      flex-wrap: wrap;
      margin-top: 40px;
    }
  }
  .div-197 {
    color: #fff;
    flex-grow: 1;
    flex-basis: auto;
    font: 700 20px/100% Gilroy, sans-serif;
  }
  .img-45 {
    aspect-ratio: 1.78;
    object-fit: contain;
    object-position: center;
    width: 16px;
    stroke-width: 2px;
    stroke: #0f0;
    overflow: hidden;
    align-self: start;
    margin-top: 7px;
    max-width: 100%;
  }
  .div-198 {
    background-color: #fff;
    align-self: center;
    display: flex;
    margin-top: 25px;
    width: 578px;
    max-width: 100%;
    height: 1px;
    flex-direction: column;
  }
  .div-199 {
    align-self: center;
    display: flex;
    margin-top: 40px;
    width: 579px;
    max-width: 100%;
    justify-content: space-between;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .div-199 {
      flex-wrap: wrap;
    }
  }
  .div-200 {
    color: #fff;
    flex-grow: 1;
    flex-basis: auto;
    font: 700 20px/100% Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-200 {
      max-width: 100%;
    }
  }
  .img-46 {
    aspect-ratio: 1.78;
    object-fit: contain;
    object-position: center;
    width: 16px;
    stroke-width: 2px;
    stroke: #0f0;
    overflow: hidden;
    align-self: start;
    margin-top: 8px;
    max-width: 100%;
  }
  .div-201 {
    background-color: #fff;
    align-self: center;
    display: flex;
    margin-top: 25px;
    width: 578px;
    max-width: 100%;
    height: 1px;
    flex-direction: column;
  }
  .div-202 {
    align-self: center;
    display: flex;
    margin-top: 40px;
    width: 579px;
    max-width: 100%;
    justify-content: space-between;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .div-202 {
      flex-wrap: wrap;
    }
  }
  .div-203 {
    color: #fff;
    flex-grow: 1;
    flex-basis: auto;
    font: 700 20px/100% Gilroy, sans-serif;
  }
  .img-47 {
    aspect-ratio: 1.78;
    object-fit: contain;
    object-position: center;
    width: 16px;
    stroke-width: 2px;
    stroke: #0f0;
    overflow: hidden;
    align-self: start;
    margin-top: 8px;
    max-width: 100%;
  }
  .div-204 {
    background-color: #fff;
    align-self: center;
    display: flex;
    margin-top: 25px;
    width: 578px;
    max-width: 100%;
    height: 1px;
    flex-direction: column;
  }
  .div-205 {
    align-self: stretch;
    margin: 130px 0 20px;
  }
  @media (max-width: 991px) {
    .div-205 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-206 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-206 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column-20 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column-20 {
      width: 100%;
    }
  }
  .div-207 {
    mix-blend-mode: multiply;
    background-color: #c4c4c4;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
    padding: 35px 40px;
  }
  @media (max-width: 991px) {
    .div-207 {
      max-width: 100%;
      margin-top: 40px;
      padding: 0 20px;
    }
  }
  .div-208 {
    color: #0f0;
    letter-spacing: 4px;
    text-transform: uppercase;
    font: 800 16px Gilroy, sans-serif;
  }
  .div-209 {
    display: flex;
    margin-top: 44px;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .div-209 {
      margin-top: 40px;
    }
  }
  .div-210 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  .img-48 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 30px;
    overflow: hidden;
    max-width: 100%;
  }
  .div-211 {
    color: #fff;
    margin: auto 0;
    font: 700 18px/100% Gilroy, sans-serif;
  }
  .div-212 {
    color: #292d37;
    text-align: center;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    white-space: nowrap;
    background-color: #0f0;
    justify-content: center;
    padding: 11px 16px;
    font: 800 12px/100% Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-212 {
      white-space: initial;
    }
  }
  .div-213 {
    background-color: #fff;
    display: flex;
    margin-top: 20px;
    height: 1px;
    flex-direction: column;
  }
  .div-214 {
    display: flex;
    margin-top: 20px;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
  }
  .div-215 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  .img-49 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 30px;
    overflow: hidden;
    max-width: 100%;
  }
  .div-216 {
    color: #fff;
    margin: auto 0;
    font: 700 18px/100% Gilroy, sans-serif;
  }
  .div-217 {
    color: #292d37;
    text-align: center;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    white-space: nowrap;
    background-color: #0f0;
    justify-content: center;
    padding: 11px 16px;
    font: 800 12px/100% Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-217 {
      white-space: initial;
    }
  }
  .column-21 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-21 {
      width: 100%;
    }
  }
  .div-218 {
    mix-blend-mode: multiply;
    background-color: #c4c4c4;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
    padding: 37px 40px;
  }
  @media (max-width: 991px) {
    .div-218 {
      max-width: 100%;
      margin-top: 40px;
      padding: 0 20px;
    }
  }
  .div-219 {
    color: #0f0;
    letter-spacing: 4px;
    text-transform: uppercase;
    font: 800 16px Gilroy, sans-serif;
  }
  .div-220 {
    display: flex;
    margin-top: 44px;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .div-220 {
      margin-top: 40px;
    }
  }
  .div-221 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  .img-50 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 30px;
    overflow: hidden;
    max-width: 100%;
  }
  .div-222 {
    color: #fff;
    margin: auto 0;
    font: 700 18px/100% Gilroy, sans-serif;
  }
  .img-51 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 30px;
    overflow: hidden;
    max-width: 100%;
  }
  .div-223 {
    background-color: #fff;
    display: flex;
    margin-top: 20px;
    height: 1px;
    flex-direction: column;
  }
  .div-224 {
    display: flex;
    margin-top: 20px;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
  }
  .div-225 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  .img-52 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 30px;
    overflow: hidden;
    max-width: 100%;
  }
  .div-226 {
    color: #fff;
    align-self: center;
    flex-grow: 1;
    white-space: nowrap;
    margin: auto 0;
    font: 700 18px/100% Gilroy, sans-serif;
  }
  @media (max-width: 991px) {
    .div-226 {
      white-space: initial;
    }
  }
  .img-53 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 30px;
    overflow: hidden;
    max-width: 100%;
  }
  .div-227 {
    background-color: #20242c;
    align-self: stretch;
    display: flex;
    min-height: 502px;
    width: 100%;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-227 {
      max-width: 100%;
    }
  }
</style>
