<div class="duopods-video-section">
  <img
    loading="lazy"
    src="https://cdn.builder.io/api/v1/image/assets/TEMP/f6c5f08db19ec3bab236a8569b528aa92936f7a9ff5684665738c1ff0cb74252?"
    class="img-22"
  >
  <div class="div-70">Engineered In India.</div>
  <div class="div-71">
    <span style="font-weight: 700; color: rgba(255, 165, 0, 1)">Made</span>
    <span style="font-weight: 700">In</span>
    <span style="font-weight: 700; color: rgba(0, 128, 0, 1)">India</span>
  </div>
  <div class="div-72">
    We’re really proud to say that we truly understand the indian audiophile and that’s why we’ve captured the details
    of these earbuds to suit all our needs.
  </div>
  <div class="div-73">
    <img
      loading="lazy"
      src="https://cdn.builder.io/api/v1/image/assets/TEMP/636c28403e49f6cf036d94d1dda81bb295424a00ebe6ea0ab511b3168dda96fb?"
      class="img-23"
    >
    <img
      loading="lazy"
      srcset="..."
      class="img-24"
    >
  </div>
</div>
<style>
  .img-22 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 100px;
    overflow: hidden;
    align-self: center;
    margin-top: 170px;
    max-width: 100%;
  }
  @media (max-width: 991px) {
    .img-22 {
      margin-top: 40px;
    }
  }
</style>
{% schema %}
  {
    "name": "duopods video",
    "settings": []
  }
{% endschema %}
