<div class="page-width">
  <div class=''>
    {% render 'image', class: '', mobileSrc: section.settings.image, desktopSrc: section.settings.desktop_image, alt="{{ section.settings.alt_text }}" %}
  </div>
</div>

{% schema %}
{
  "name": "section banner image",
  "tag": "section",
  "class": "section-banner-image",
  "settings": [
    {
      "type": "image_picker", 
      "id": "image",
      "label": "Mobile Image"
    },
    {
      "type": "image_picker",
      "id": "desktop_image",
      "label": "Desktop Image"
    },
    {
      "type": "text",
      "id": "alt_text",
      "label": "Alternate Text",
      "info": "Alternate text for image"
    }
  ],
  "presets": [
    {
      "name": "section Banner Image"
    }
  ]
}
{% endschema %}

