.totals {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.totals > * {
  font-size: 1.6rem;
  margin: 0;
}

.totals > h2 {
  font-size: calc(var(--font-heading-scale) * 1.6rem);
}

.totals * {
  line-height: 1;
}

.totals__total {
  margin-top: .5rem;
}

.totals__total-value {
  font-size: 1.8rem;
}

.cart__ctas + .totals {
  margin-top: 2rem;
}

@media all and (min-width: 750px) {
  .totals {
    justify-content: flex-end;
  }

  .order__summary__title {
    padding: 15px 16px;
  }
}

.cart__subtotal,
.cart__discount,
.cart__total {
  display: flex;
  justify-content: space-between;
}

.order__summary__title {
  color: #4B4955;
  font-family: Gilroy Medium;
  font-size: 12px;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  opacity: 0.5;
  padding-bottom: 20px;
}

.order__summary__info {
  border: 1px solid #ededed;
  padding: 16px;
}

.cart__subtotal {
  margin-bottom: 16px;
}

.cart__subtotal, .cart__discount {
  color: #4B4955;
    font-family: Gilroy medium;
    font-size: calc(14px + (16 - 14) * (100vw - 375px) / (1440 - 375));
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    text-transform: capitalize;
}

.cart__subtotal--label,.cart__discount--label {
  opacity: 0.7;
}

.cart__discount--value {
  color: #3CB77C;
}

.cart__discount {
  margin-bottom: 18px;
}

.cart__total {
  border-top: 1px solid #ededed;
  padding-top: 21px;
  color: #4B4955;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  text-transform: capitalize;
}

.cart__total--label {
  font-family: 'Gilroy Medium';
}

.cart__total--value {
  font-family: 'Gilroy bold';
  font-weight: 700;
}

.cart__total--price {
  color: #4B4955;
  font-size: 20px;
  font-family: Gilroy bold;
  font-weight: 800;
  line-height: 100%;
  text-transform: uppercase;
}