.cart {
  position: relative;
  display: block;
}

.cart__empty-text,
.is-empty .cart__contents,
cart-items.is-empty .title-wrapper-with-link,
.is-empty .cart__footer {
  display: none;
}

.is-empty .cart__empty-text,
.is-empty .cart__warnings {
  display: block;
}

.cart__warnings {
  display: none;
  text-align: center;
  padding: 3rem 0 1rem;
}

.cart__empty-text {
  margin: 4.5rem 0 2rem;
}

.cart__policy_with--footer.empty__cart__page {
  display: none;
}

.is-empty .cart_main__container {
  display: flex;
  justify-content: center;
}

.is-empty cart-items {
  border: 0;
}

.cart__contents > * + * {
  margin-top: 2.5rem;
}

.cart__login-title {
  margin: 5.5rem 0 0.5rem;
}

.cart__login-paragraph {
  margin-top: 0.8rem;
}

.cart__login-paragraph a {
  font-size: inherit;
}

@media screen and (min-width: 990px) {
  .cart__warnings {
    padding: 7rem 0 1rem;
  }

  .cart__empty-text {
    margin: 0 0 3rem;
  }
}

cart-items {
  display: block;
}

.cart__items {
  position: relative;
}

.cart__items--disabled {
  pointer-events: none;
}

.cart__footer-wrapper:last-child .cart__footer {
  padding-bottom: 5rem;
}

.cart__footer > * + * {
  margin-top: 6.5rem;
}

.cart__footer .discounts {
  margin-bottom: 1rem;
}

.cart__note {
  height: fit-content;
  top: 2.5rem;
}

.cart__note label {
  display: flex;
  align-items: flex-end;
  position: absolute;
  line-height: 1;
  height: 1.8rem;
  top: -3rem;
  color: rgba(var(--color-foreground), 0.75);
}

.cart__note .field__input {
  height: 100%;
  position: relative;
  border-radius: var(--inputs-radius);
  padding: 1rem 2rem;
}

.cart__note .text-area {
  resize: vertical;
}

.cart__note:after,
.cart__note:hover.cart__note:after,
.cart__note:before,
.cart__note:hover.cart__note:before,
.cart__note .field__input:focus,
.cart__note .field__input {
  border-bottom-right-radius: 0;
}

@media screen and (min-width: 750px) {
  .cart__items {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .cart__contents > * + * {
    margin-top: 0;
  }

  .cart__items + .cart__footer {
    grid-column: 2;
  }

  .cart__footer {
    display: flex;
    justify-content: space-between;
    border: 0;
  }

  .cart__footer-wrapper:last-child {
    padding-top: 0;
  }

  .cart__footer > * + * {
    margin-left: 4rem;
    margin-top: 0;
  }
}

.cart__ctas button {
  width: 100%;
}

.cart__ctas > *:not(noscript:first-child) + * {
  margin-top: 1rem;
}

.cart__update-button {
  margin-bottom: 1rem;
}

.cart__dynamic-checkout-buttons {
  max-width: 36rem;
  margin: 0 auto;
}

.cart__dynamic-checkout-buttons div[role='button'] {
  border-radius: var(--buttons-radius-outset);
}

.cart__blocks > * + * {
  margin-top: 1rem;
}

.cart-note__label {
  display: inline-block;
  margin-bottom: 1rem;
  line-height: calc(1 + 1 / var(--font-body-scale));
}

.tax-note {
  margin: 2.2rem 0 1.6rem auto;
  text-align: center;
  display: block;
}

.cart__ctas {
  text-align: center;
}

.cart__footer__details {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px;
  width: 100%;
  z-index: 2;
  background: #FFF;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.13);
}

.cart__footer__details {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 750px) {
  .cart-note {
    max-width: 35rem;
  }

  .cart__update-button {
    margin-bottom: 0;
    margin-right: 0.8rem;
  }

  .tax-note {
    margin-bottom: 2.2rem;
    text-align: right;
  }

  [data-shopify-buttoncontainer] {
    justify-content: flex-end;
  }

  .cart__ctas {
    display: flex;
    gap: 1rem;
  }

  .cart__footer .cart__blocks {
    width: 100%;
  }

  .desktop__cart__footer__nutton .cart__totals {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
}

#checkout {
  border: 1px solid #0f0;
  background: #0f0;
  padding: 14px 50px;
  color: #4B4955;
  text-align: center;
  font-family: 'Gilroy black';
  font-size: 12px;
  font-weight: 800;
  line-height: 100%;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}

.cart__footer--details__link {
  color: #4B4955;
  font-family: 'Gilroy Medium';
  font-size: 10px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 1.9px;
  text-transform: uppercase;
  opacity: 0.4;
  margin-top: 10px;
}

.cart_policy__container {
  border: 1px solid #ededed;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 20px 0;
}
.cart_policy--info {
  display: flex;
  gap: 16px;
}

.cart__policy--link {
  text-decoration: none;
  color: #4B4955;
  font-family: Gilroy medium;
  font-style: normal;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.cart_policy--info {
  position: relative;
}

.cart_policy--info:not(:last-child):before {
  content: "";
  position: absolute;
  bottom: -16px;
  border-bottom: 1px solid #ededed;
  width: 92%;
  left: 42px;
}

.cart_usp--heading span{
  font-size: calc(14px + (16 - 14) * (100vw - 375px) / (1440 - 375));
  font-weight: 700;
  line-height: 100%;
}

.cart_usp--content span{
  opacity: 0.7;
  font-size: 12px;
  font-weight: 600;
  line-height: 100%;
  display: flex;
  gap: 4px;
}

.cart--payment__methods {
  margin-top: 34px;
  margin-bottom: 30px;
}

@media screen and (min-width: 990px) {
  .cart__footer__details {
    position: unset;
    display: block;
  }
  
  .cart__items {
    padding-bottom: 4rem;
  }
  
  .cart__footer--details__link {
    margin-top: unset;
  }
  
  .cart__footer__details {
    padding: 16px;
  }

  .cart__policy_with--footer {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 0fr);
    grid-template-areas: "second" "first" "third";
  }

  .cart__policies__totals {
    grid-area: first;
  }

  #main-cart-footer {
    grid-area: second;
  }

  .payment__icons img {
    vertical-align: middle;
  }

  .cart--payment__methods {
    grid-area: third;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

.cart--payment__methods span {
  color: #4B4955;
  font-family: Gilroy black;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: capitalize;
}
