/*announcement bar css  */
.announcement-bar__first-text:first-of-type{
  border-right: 1px solid rgb(0, 255, 0, 0.1);
    padding-right: 22px;
    
}
div#Slider-sections--21063847280917__announcement-bar {
    gap: 0;
}
.announcement-bar__announcement{
  padding-left:22px;
}

/*header css  */
@media screen and (max-width:749px){
  .header {
    padding: 12px 5px 12px 20px;
}
  a.header__heading-link.link.link--text.focus-inset {
    padding-left:30px;
}
}

 


