/*announcement bar css  */
.announcement-bar__first-text:first-of-type {
  border-right: 1px solid rgb(0, 255, 0, 0.1);
  padding-right: 22px;
}
div#Slider-sections--21063847280917__announcement-bar {
  gap: 0;
}
.announcement-bar__announcement {
  padding-left: 22px;
}
/*header css  */
.header__icons.header__icons--localization.header-localization {
  justify-content: flex-end;
  margin-left: 1rem;
}
@media screen and (max-width:749px) {
  .header {
    padding: 12px 5px 12px 20px;
  }
  a.header__heading-link.link.link--text.focus-inset {
    padding-left: 30px;
  }
  .menu-opening .icon--mobile_menu  {
    display: none;
  }
}
/* mega-menu */
 
.megamenu_images_container {
  border-bottom: 1px solid #ECECEC;
  padding-bottom: 39px;
  }

  
  ul.mega-menu__list.page-width.mega-menu__list--condensed {
    max-width: 781px;
    margin: auto;
    box-sizing: content-box;
}

.megamenu_images_container {
    display: flex;
    gap: 20px;
}
.child_link_images img{
  width: 100%;
    height: auto;
    object-fit: contain;
    aspect-ratio: 1;
    border: 1px solid #ECECEC;

}
.child_link_images p{
margin: auto;
color: #4B4955;
font-family: Gilroy;
font-size: 16px;
font-style: normal;
line-height: 100%;
}
 