/*announcement bar css  */
.announcement-bar__first-text:first-of-type{
  border-right: 1px solid rgb(0, 255, 0, 0.1);
    padding-right: 22px;
    
}
div#Slider-sections--21063847280917__announcement-bar {
    gap: 0;
}
.announcement-bar__announcement{
  padding-left:22px;
}

/*header css  */
@media screen and (max-width:749px){
  .header {
    padding: 12px 5px 12px 20px;
}
  a.header__heading-link.link.link--text.focus-inset {
    padding-left:30px;
}
}

/* style for about page */
.usp .multicolumn-card.content-container .multicolumn-card__image-wrapper{
  margin: 0 auto;
  width: 70%;
}
.usp .multicolumn-card__info{
  padding: 0 8px;
}
.usp .multicolumn-list__item{
  max-width: 26rem;
  min-height: 278px;
  box-shadow: 0 25px 50px -12px rgba(0,0,0,0.25);
  border-radius: 2rem;
}
@media screen and (min-width: 750px) {
  .usp .multicolumn-list__item{
    min-height: 42rem;
  }
}
.usp .multicolumn-list.contains-content-container{
  justify-content: center;
  column-gap: 1rem;
  row-gap: 2rem;
}
@media screen and (min-width: 750px) {
  .usp .multicolumn-list.contains-content-container{
    column-gap: 39px;
  } 
}
.usp .multicolumn-card__info .rte p{
  font-size: calc(16px + (22 - 16) * (100vw - 375px) / (1440 - 375));
}
@media screen and (min-width:750px) {
  .video-section__media .deferred-media__poster{
    border-radius: 37px;
  }
}
.video-section{
  width: 98%;
}
@media screen and (min-width:750px) {
  .video-section{
    width: 85%;
  }
}
.gradient_container{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}
.font_32_16{
  font-size: calc(16px + (32 - 16) * (100vw - 375px) / (1440 - 375));
}
@media screen and (max-width:750px) {
  .gradient_caption{
    width: 50%;
  }
}
.gradient_caption{
  text-align: center;
  padding-top: calc(54px + (108 - 54) * (100vw - 375px) / (1440 - 375));
}
.gradient_heading{
  display: flex;
  justify-content: center;
  align-items: center;
}
.gradient_heading p{
  margin: 0;
  font-size: calc(42px + (64 - 42) * (100vw - 375px) / (1440 - 375));
  line-height: 0.9;
  padding-top: calc(41px + (64 - 41) * (100vw - 375px) / (1440 - 375));
  display: flex;
  justify-content: center;
}
.multicolumn-card__image-wrapper{
  padding-top: calc(35px + (55 - 35) * (100vw - 375px) / (1440 - 375));
}
.gradient_image{
  margin-left: calc(-50px + (-70 - -50) * (100vw - 375px) / (1440 - 375));
  margin-top: 12px;
}
.gradient_image img{
  width: calc(60px + (80 - 60) * (100vw - 375px) / (1440 - 375));
  height: auto;
}